<main class="flex justify-center items-center">
  <p-card class="w-96 shadow-lg">
    <div class="flex justify-content-center">
      <h2 class="text-center text-xxl font-semibold text-gray-800">{{'app.auth.reset_password.resetPassword' | translate}}</h2>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <app-input placeholder="auth.emailPlaceholder" [formGroup]="resetForm" errorKey="auth.invalidEmail" controlName="email" icon="pi-envelope" type="email" label="auth.emailLabel"></app-input>
      <app-input placeholder="auth.reset_password.newPasswordPlaceholder" [formGroup]="resetForm" errorKey="auth.invalidNewPassword" controlName="newPassword" icon="pi-lock" type="password" label="auth.passwordLabel"></app-input>
      <app-input placeholder="auth.reset_password.confirmNewPasswordPlaceholder" [formGroup]="resetForm" errorKey="auth.invalidConfirmNewPassword" controlName="confirmNewPassword" icon="pi-lock" type="password" label="auth.confirmPasswordLabel"></app-input>
      <p-button type="submit" [label]="'app.auth.reset_password.resetPasswordButton' | translate" [disabled]="resetForm.invalid" fluid="true"></p-button>
    </form>
  </p-card>
</main>
