<main class="flex justify-center items-center">
  <p-card class="w-96 shadow-lg">
    <div class="flex justify-content-center">
      <h2 class="text-center text-xxl font-semibold text-gray-800">{{'app.auth.reset_password.resetPassword' | translate}}</h2>
    </div>
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <app-input placeholder="reset_password.tokenPlaceholder" [formGroup]="resetForm" errorKey="invalidToken" controlName="token" icon="pi-key" type="text"></app-input>
      <app-input placeholder="emailPlaceholder" [formGroup]="resetForm" errorKey="invalidEmail" controlName="email" icon="pi-envelope" type="email"></app-input>
      <app-input placeholder="reset_password.newPasswordPlaceholder" [formGroup]="resetForm" errorKey="invalidNewPassword" controlName="newPassword" icon="pi-lock" type="password"></app-input>
      <app-input placeholder="reset_password.confirmNewPasswordPlaceholder" [formGroup]="resetForm" errorKey="invalidConfirmNewPassword" controlName="confirmNewPassword" icon="pi-lock" type="password"></app-input>
      <p-button type="submit" [label]="'app.auth.reset_password.resetPasswordButton' | translate" [disabled]="resetForm.invalid" fluid="true"></p-button>
    </form>
  </p-card>
</main>
