<div class="bg-black py-20">
    <section  class="mainSlider container mx-auto">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
            <div class="p-4 text-zinc-400">
                <div class="item mb-8">
                    <owl-carousel-o [options]="customOptionsMainSlider">
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>

                <div class="item mb-8">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>

                <div class="item mb-8">
                    <owl-carousel-o [options]="customOptionsLastSlider">
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p class="text-center text-2xl">Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>

            <div FadeInView class="relative p-4">
                <div class="absolute">
                    <span class="animate__animated animate__fadeInUp animate__faster px-4 py-1 rounded-full border border-zinc-600 mb-10 bg-gradient-to-r from-orange-800 via-red-400 to-blue-800 text-transparent bg-clip-text">WHY SECURY</span>
                </div>
                <div class="mt-16">
                    <p class="text-zinc-300 text-4xl py-2">Where Hacks and</p>
                    <p class="text-zinc-300 text-4xl py-2">Breaches Hit a Brick Wall.</p>
                    <p class="text-zinc-300 text-xl mt-3">Secury leverages powerful encryption and blockchain technology to provide industry-leading protection for your sensitive data.</p>
                </div>
            </div>
        </div>
    </section>
</div>
