<div class="create-component">
  <div class="container">
    <h2 class="text-center mb-4">
      {{ "app.create-update-facility.create-title" | translate }}
    </h2>
    <form [formGroup]="facilityForm" (ngSubmit)="onSubmit()">
      <div class="card">
        <p class="p-group">
          {{ "app.create-update-facility.facility-data-title" | translate }}
        </p>
        <div class="grid">
          @for (input of fcilityDataInputs; track $index) {
          <div class="col-12 md:col-6 lg:col-4">
            <app-input
              [formGroup]="facilityForm"
              [placeholder]="input.placeholder"
              [errorKey]="input.errorKey"
              [controlName]="input.controlName"
              [icon]="input.icon"
              [type]="input.type"
              [label]="input.label"
            >
            </app-input>
          </div>
          }
          <div class="group">
            <div class="image-upload">
              <label for="">{{
                "app.facilities.upload-logo" | translate
              }}</label>
              <i class="pi pi-cloud-upload"></i>
              <app-image-uploader
                (fileSizeError)="handleFileSizeError($event)"
                (imageName)="handleLogoName($event)"
              ></app-image-uploader>
              <div *ngIf="fileUploadError" class="error-message">
                {{ fileUploadError }}
              </div>
            </div>
          </div>
        </div>
        <input type="text" formControlName="logo" hidden />

        <p class="p-group">
          {{ "app.create-update-facility.address-data-title" | translate }}
        </p>

        <div class="grid">
          <ng-container formGroupName="address">
            @for (input of addressDataInputs; track $index) {
            <div class="col-12 md:col-6 lg:col-4">
              <app-input
                #ad
                [formGroup]="addressGroup"
                [placeholder]="input.placeholder"
                [errorKey]="getErrorKey(input.controlName)"
                [controlName]="input.controlName"
                [icon]="input.icon"
                [type]="input.type"
                [label]="input.label"
              >
              </app-input>
            </div>
            }
          </ng-container>
        </div>
      </div>

      <div class="card">
        <p class="p-group">
          {{ "app.create-update-facility.admin-data-title" | translate }}
        </p>
        <div class="grid">
          <ng-container formGroupName="adminInfo">
            @for (input of adminDataInputs; track $index) {
            <div class="col-12 md:col-6 lg:col-4">
              <app-input
                [formGroup]="adminInfo"
                [placeholder]="input.placeholder"
                [errorKey]="input.errorKey"
                [controlName]="input.controlName"
                [icon]="input.icon"
                [type]="input.type"
                [label]="input.label"
              >
              </app-input>
              @if(input.controlName === 'confirmPassword' &&
              facilityForm.get('adminInfo')?.hasError('mismatch')){
              <p-message
                severity="error"
                [text]="'app.' + input.errorKey | translate"
              ></p-message>
              }
            </div>
            }
            <div class="group">
              <div class="image-upload">
                <label for="">{{
                  "app.facilities.upload-image" | translate
                }}</label>
                <i class="pi pi-cloud-upload"></i>
                <app-image-uploader
                  (fileSizeError)="handleFileSizeError($event)"
                  (imageName)="handelimagenam($event)"
                ></app-image-uploader>
                <div *ngIf="fileUploadError" class="error-message">
                  {{ fileUploadError }}
                </div>
              </div>
            </div>
          </ng-container>
        </div>
      </div>

      <div class="actions">
        <button type="submit" class="save">
          {{ "app.create-update-facility.save" | translate }}
        </button>
        <button
          class="cancel"
          routerLink="/facilities"
          type="button"
          (click)="cancel()"
        >
          {{ "app.create-update-facility.cancel" | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
