
<div class="create-component">
  <div class="container">
    <h2 class="text-center mb-4">{{'app.companies.create-update-company.update-title' | translate}}</h2>
    <form [formGroup]="updateCompForm" (ngSubmit)="onSubmit()" enctype="multipart/form-data">
      <!-- company Data -->
      <div class="card">
        <p class="p-group">{{'app.companies.create-update-company.company-data-title' | translate}}</p>
        <div class="grid">
          <!-- contactEmail -->
          <div class="col-12 md:col-6 lg:col-4">
            <div class="input-group">
              <label for="contactEmail">{{'app.companies.create-update-company.contactEmail' | translate}}</label>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-envelope"></i>
                </p-inputgroup-addon>
                <input pInputText id="contactEmail" formControlName="contactEmail" />
              </p-inputgroup>
              @if((updateCompForm.get('contactEmail')?.dirty || updateCompForm.get('contactEmail')?.touched) && updateCompForm.get('contactEmail')?.errors?.['required']) {
                <p class="text-error">{{'app.companies.create-update-company.contactEmail-error' | translate}}</p>
              }
            </div>
          </div>
          <!-- phoneNumber -->
          <div class="col-12 md:col-6 lg:col-4">
            <div class="input-group">
              <label for="phoneNumber">{{'app.companies.create-update-company.phoneNumber' | translate}}</label>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-phone"></i>
                </p-inputgroup-addon>
                <input pInputText id="phoneNumber" formControlName="phoneNumber" />
              </p-inputgroup>
              @if((updateCompForm.get('phoneNumber')?.dirty || updateCompForm.get('phoneNumber')?.touched) && updateCompForm.get('phoneNumber')?.errors?.['required']) {
                <p class="text-error">{{'app.companies.create-update-company.phoneNumber-error' | translate}}</p>
              }
            </div>
          </div>
          <!-- registrationNumber -->
          <div class="col-12 md:col-6 lg:col-4">
            <div class="input-group">
              <label for="registrationNumber">{{'app.companies.create-update-company.registrationNumber' | translate}}</label>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-pen-to-square"></i>
                </p-inputgroup-addon>
                <input pInputText id="registrationNumber" formControlName="registrationNumber" />
              </p-inputgroup>
              @if((updateCompForm.get('registrationNumber')?.dirty || updateCompForm.get('registrationNumber')?.touched) && updateCompForm.get('registrationNumber')?.errors?.['required']) {
                <p class="text-error">{{'app.companies.create-update-company.registrationNumber-error' | translate}}</p>
              }
            </div>
          </div>
          <!-- taxId -->
          <div class="col-12 md:col-6 lg:col-4">
            <div class="input-group">
              <label for="taxId">{{'app.companies.create-update-company.taxId' | translate}}</label>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-pen-to-square"></i>
                </p-inputgroup-addon>
                <input pInputText id="taxId" formControlName="taxId" />
              </p-inputgroup>
              @if((updateCompForm.get('taxId')?.dirty || updateCompForm.get('taxId')?.touched) && updateCompForm.get('taxId')?.errors?.['required']) {
                <p class="text-error">{{'app.companies.create-update-company.taxId-error' | translate}}</p>
              }
            </div>
          </div>
          <!-- name -->
          <div class="col-12 md:col-6 lg:col-4">
            <div class="input-group">
              <label for="name">{{'app.companies.create-update-company.name' | translate}}</label>
              <p-inputgroup>
                <p-inputgroup-addon>
                  <i class="pi pi-user"></i>
                </p-inputgroup-addon>
                <input pInputText id="name" formControlName="name" />
              </p-inputgroup>
              @if((updateCompForm.get('name')?.dirty || updateCompForm.get('name')?.touched) && updateCompForm.get('name')?.errors?.['required']) {
                <p class="text-error">{{'app.companies.create-update-company.name-error' | translate}}</p>
              }
            </div>
          </div>
        </div>
      </div>
      <!-- address Data -->
      <div class="card">
        <p class="p-group">{{'app.companies.create-update-company.address-data-title' | translate}}</p>
        <div class="grid">
          <ng-container formGroupName="address">
            <!-- street -->
            <div class="col-12 md:col-6 lg:col-4">
              <div class="input-group">
                <label for="street">{{'app.companies.create-update-company.street' | translate}}</label>
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                  </p-inputgroup-addon>
                  <input pInputText id="street" formControlName="street" />
                </p-inputgroup>
                @if((updateCompForm.get('address.street')?.dirty || updateCompForm.get('address.street')?.touched) && updateCompForm.get('address.street')?.errors?.['required']) {
                  <p class="text-error">{{'app.companies.create-update-company.street-error' | translate}}</p>
                }
              </div>
            </div>
            <!-- city -->
            <div class="col-12 md:col-6 lg:col-4">
              <div class="input-group">
                <label for="city">{{'app.companies.create-update-company.city' | translate}}</label>
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                  </p-inputgroup-addon>
                  <input pInputText id="city" formControlName="city" />
                </p-inputgroup>
                @if((updateCompForm.get('address.city')?.dirty || updateCompForm.get('address.city')?.touched) && updateCompForm.get('address.city')?.errors?.['required']) {
                  <p class="text-error">{{'app.companies.create-update-company.city-error' | translate}}</p>
                }
              </div>
            </div>
            <!-- state -->
            <div class="col-12 md:col-6 lg:col-4">
              <div class="input-group">
                <label for="state">{{'app.companies.create-update-company.state' | translate}}</label>
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                  </p-inputgroup-addon>
                  <input pInputText id="state" formControlName="state" />
                </p-inputgroup>
                @if((updateCompForm.get('address.state')?.dirty || updateCompForm.get('address.state')?.touched) && updateCompForm.get('address.state')?.errors?.['required']) {
                  <p class="text-error">{{'app.companies.create-update-company.state-error' | translate}}</p>
                }
              </div>
            </div>
            <!-- country -->
            <div class="col-12 md:col-6 lg:col-4">
              <div class="input-group">
                <label for="country">{{'app.companies.create-update-company.country' | translate}}</label>
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                  </p-inputgroup-addon>
                  <input pInputText id="country" formControlName="country" />
                </p-inputgroup>
                @if((updateCompForm.get('address.country')?.dirty || updateCompForm.get('address.country')?.touched) && updateCompForm.get('address.country')?.errors?.['required']) {
                  <p class="text-error">{{'app.companies.create-update-company.country-error' | translate}}</p>
                }
              </div>
            </div>
            <!-- postalCode -->
            <div class="col-12 md:col-6 lg:col-4">
              <div class="input-group">
                <label for="postalCode">{{'app.companies.create-update-company.postalCode' | translate}}</label>
                <p-inputgroup>
                  <p-inputgroup-addon>
                    <i class="pi pi-map-marker"></i>
                  </p-inputgroup-addon>
                  <input pInputText id="postalCode" formControlName="postalCode" />
                </p-inputgroup>
                @if((updateCompForm.get('address.postalCode')?.dirty || updateCompForm.get('address.postalCode')?.touched) && updateCompForm.get('address.postalCode')?.errors?.['required']) {
                  <p class="text-error">{{'app.companies.create-update-company.postalCode-error' | translate}}</p>
                }
              </div>
            </div>
          </ng-container>
        </div>
      </div>
      <!-- actions -->
      <div class="actions">
        <button type="submit" class="save">{{'app.companies.create-update-company.save' | translate}}</button>
        <button class="cancel" routerLink="/companies">{{'app.companies.create-update-company.cancel' | translate}}</button>
      </div>
    </form>
  </div>
</div>
