<div class="container">
  <p-table [value]="priceRequests" dataKey="id" stripedRows [paginator]="true" [rows]="10" [globalFilterFields]="['company.name']" selectionMode="single" #dt [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem'}">
    <ng-template #caption>
      <p-iconfield iconPosition="left">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input pInputText type="text" [(ngModel)]="searchTerm" (input)="dt.filterGlobal(searchTerm, 'contains')" [placeholder]="'app.price-request.price-request-page.global-search' | translate"/>
      </p-iconfield>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="company.name" style="width:20%">
          {{ 'app.price-request.price-request-page.company-name' | translate }}
          <p-sortIcon field="company.name"></p-sortIcon>
        </th>
        <th pSortableColumn="contractType" style="width:20%">
          {{ 'app.price-request.price-request-page.contract-type' | translate }}
          <p-sortIcon field="contractType"></p-sortIcon>
        </th>
        <th pSortableColumn="requestStatus" style="width:20%">
          {{ 'app.price-request.price-request-page.status' | translate }}
          <p-sortIcon field="requestStatus"></p-sortIcon>
        </th>
        <th style="width:40%">{{ 'app.price-request.price-request-page.actions' | translate }}</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-service let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" [pRowToggler]="service" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
        </td>
        <td>{{ service.company.name }}</td>
        <td>{{ 'enums.contract-types.' + service.contractType | translate }}</td>
        <td>{{ 'enums.request-status.' + service.requestStatus | translate }}</td>
        <td class="flex flex-row">
          <p-button icon="pi pi-cog" (click)="toggleActions(service)" pTooltip="{{ 'app.price-request.price-request-page.actions' | translate }}" tooltipPosition="top"></p-button>
          <div [class.visible]="service.showActions" class="smooth-buttons">
            @if (service.showActions) {
              <p-button *appHasPermission="401" class="m-1" [routerLink]="['/update-price-request/' + service.id]" [disabled]="service.requestStatus !== 1" icon="pi pi-pencil" pTooltip="{{ 'app.price-request.price-request-page.update' | translate }}" tooltipPosition="top"></p-button>
              <p-button *appHasPermission="403" class="m-1" (click)="showCancelPopUp=true;currentId=service.id" [disabled]="service.requestStatus !== 1" icon="pi pi-times" pTooltip="{{ 'app.price-request.price-request-page.cancel' | translate }}" tooltipPosition="top"></p-button>
              <p-button *appHasPermission="405" class="m-1" (click)="showHidePopUp=true;currentId=service.id" icon="pi pi-eye-slash" pTooltip="{{ 'app.price-request.price-request-page.hide' | translate }}" tooltipPosition="top"></p-button>
              <p-button *appHasPermission="350" class="m-1" (click)="openChat()" icon="pi pi-comments" pTooltip="{{ 'app.price-request.price-request-page.chat' | translate }}" tooltipPosition="top"></p-button>
              <p-button *appHasPermission="404" class="m-1" [routerLink]="['/price-request-details/' + service.id]" icon="pi pi-info-circle" pTooltip="{{ 'app.price-request.price-request-page.details' | translate }}" tooltipPosition="top"></p-button>
            }
          </div>
          <app-delete-popup [visible]="showHidePopUp" type="hide" (confirmDelete)="hidePriceRequest()" (closePopup)="showHidePopUp = false"></app-delete-popup>
          <app-delete-popup [visible]="showCancelPopUp" type="cancel" (confirmDelete)="cancelPriceRequest()" (closePopup)="showCancelPopUp = false"></app-delete-popup>
        </td>

      </tr>
    </ng-template>

    <!-- Expanded Row Content -->
    <ng-template pTemplate="rowexpansion" let-service>
      <tr>
        <td colspan="5">
          <div class="flex justify-content-between">
            <div>
              {{ 'app.price-request.price-request-page.start-date' | translate }}:
              <strong>{{ service.startDate | date }}</strong>
            </div>
            <div>
              {{ 'app.price-request.price-request-page.end-date' | translate }}:
              <strong>{{ service.endDate | date }}</strong>
            </div>
          </div>
          <h2>{{ 'app.price-request.price-request-page.services' | translate }}</h2>
          <p-table [value]="service.services" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:20%">{{ 'app.price-request.price-request-page.service-id' | translate }}</th>
                <th style="width:20%">{{ 'app.price-request.price-request-page.shift' | translate }}</th>
                <th style="width:20%">{{ 'app.price-request.price-request-page.quantity' | translate }}</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
              <tr>
                <td>{{ service.serviceName }}</td>
                <td>{{ 'enums.shift-type.' + service.shiftType | translate }}</td>
                <td>{{ service.quantity }}</td>
              </tr>
            </ng-template>
          </p-table>

          <h2>{{ 'app.price-request.price-request-page.other-services' | translate }}</h2>
          <p-table [value]="service.otherServices" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:30%">{{ 'app.price-request.price-request-page.service' | translate }}</th>
                <th style="width:30%">{{ 'app.price-request.price-request-page.shift' | translate }}</th>
                <th style="width:30%">{{ 'app.price-request.price-request-page.quantity' | translate }}</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-service>
              <tr>
                <td>{{ service.name }}</td>
                <td>{{ 'enums.shift-type.' + service.shiftType | translate }}</td>
                <td>{{ service.quantity }}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
