<section class="mainSlider  ">
    <div class="row g-0  ">
        <div class="container contact">





            <div class="col-md-6 p-4">
                <div class="item">
                    <owl-carousel-o [options]="customOptionsMainSlider">
                        <ng-template carouselSlide>
                            <p>Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>

                <div class="item">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <p>Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>

                <div class="item">
                    <owl-carousel-o [options]="customOptionsMainSlider">
                        <ng-template carouselSlide>
                            <p>Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>



            <div class="col-md-6">
                <div class=" abs  kk">
                    <span class="rounded-pill safe2">
                        WHY SECURY

                    </span>
                </div>


                <div class="content2">

                    <h1 class="h2">Where Hacks and Breaches Hit a Brick Wall.

                    </h1>
                    <h1 class="h2">
                    </h1>
                    <p>
                        Secury leverages powerful encryption and blockchain technology to provide industry-leading
                        protection for your sensitive data.


                    </p>


                </div>

            </div>

        </div>
    </div>
</section>