.kk{
    display:flex;
    justify-content: start;
text-align: center;
  }
   .item p{
    color: var(--light-color);
    font: 50px;
  }
  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .safe2{
    width: 110px; 
    height: 40px;  
    border: 2px solid rgb(201, 212, 212);
    padding: 10px;
    margin-bottom: 5px;

    background: linear-gradient(to right, #f45933, #33336f); 
    background-clip: text; 
    -webkit-background-clip: text; 
    color: transparent; 

    font-weight: bold; 
    font-size: 12px; 
  }
  .content2 .h2{
    font-size: 40px;
    font-weight: bold;
    color: var(--light-color);
    padding-top: 10px;
    padding-bottom: 10px;
  }
 .content2 p{
    color: var(--light-color);
    font-size: 20px;


 }
//  .mainSlider{
//   background-color: var(--main-color);
//  }