<div class="bg-black py-44">
    <section class="mainSlider container ">
        <div class="row g-0  ">
            <div class="container contact">
    
    
    
    
    
                <div class="col-md-6 p-4">
                    <div class="item">
                        <owl-carousel-o [options]="customOptionsMainSlider">
                            <ng-template carouselSlide>
                                <p>Ironclad Defense</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Future-Proof Security</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Risk Mitigation</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Encrypted Storage</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Unbreachable Data</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Quantum-Resistant Keys</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Adaptive Security</p>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
    
                    <div class="item">
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <p>Ironclad Defense</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Future-Proof Security</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Risk Mitigation</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Encrypted Storage</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Unbreachable Data</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Quantum-Resistant Keys</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Adaptive Security</p>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
    
                    <div class="item">
                        <owl-carousel-o [options]="customOptionsLastSlider">
                            <ng-template carouselSlide>
                                <p>Ironclad Defense</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Future-Proof Security</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Risk Mitigation</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Encrypted Storage</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Unbreachable Data</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Quantum-Resistant Keys</p>
                            </ng-template>
                            <ng-template carouselSlide>
                                <p>Adaptive Security</p>
                            </ng-template>
                        </owl-carousel-o>
                    </div>
<section class="mainSlider  ">
    <div class="row g-0  ">
        <div class="container contact">





            <div class="col-md-6 p-4">
                <div class="item">
                    <owl-carousel-o [options]="customOptionsMainSlider">
                        <ng-template carouselSlide>
                            <p>Ironclad Defense</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Future-Proof Security</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Risk Mitigation</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Encrypted Storage</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Unbreachable Data</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Quantum-Resistant Keys</p>
                        </ng-template>
                        <ng-template carouselSlide>
                            <p>Adaptive Security</p>
                        </ng-template>
                    </owl-carousel-o>
                </div>
    
    
    
                <div class="col-md-6">
                    <div class=" abs  kk">
                        <span class=" safe2 border-1 border-zinc-700 rounded-full">WHY SECURY </span>
                    </div>
                    <div class="">
                        <p class="text-zinc-300 text-4xl py-2 mt-3">Where Hacks and </p>
                        <p class="text-zinc-300 text-4xl py-2">Breaches Hit a Brick Wall.</p>
                        <p class="text-zinc-300 text-xl mt-3">Secury leverages powerful encryption and blockchain technology to provide industry-leading protection for your sensitive data. </p>
                    </div>
                </div>
    
            </div>
        </div>
    <!-- </section> -->
</div>




 <!-- <div> 
        <div class="space-y-5"> 
            <div class="is-texts-slider swiper-initialized swiper-horizontal swiper-backface-hidden"> 
                <div class="swiper-wrapper reverse" style="transition-duration: 20000ms; transform: translate3d(174.531px, 0px, 0px);">
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-active" data-swiper-slide-index="5">Zero-Trust Architecture</p>
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-next" data-swiper-slide-index="0">Unmatched Privacy</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="1">Ironclad Defense</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="2">Enterprise-Level Security</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="3">Advanced Encryption</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="4">Data Integrity Guaranteed</p>  
                </div> 
            </div>
            <div class="is-texts-slider swiper-initialized swiper-horizontal swiper-backface-hidden"> 
                <div class="swiper-wrapper reverse" style="transition-duration: 20000ms; transform: translate3d(-1019.65px, 0px, 0px);">  
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="3">Adaptive Security</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="4">Encrypted Storage</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="5">Seamless Integration</p>
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-prev" data-swiper-slide-index="0">Unbreachable Data</p>
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-active" data-swiper-slide-index="1">Comprehensive Privacy</p>
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-next" data-swiper-slide-index="2">Quantum-Resistant Keys</p>
                </div> 
            </div>
            <div class="is-texts-slider swiper-initialized swiper-horizontal swiper-backface-hidden"> 
                <div class="swiper-wrapper reverse" style="transition-duration: 20000ms; transform: translate3d(186.738px, 0px, 0px);">
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-active" data-swiper-slide-index="5">Future-Proof Security</p>
                    <p class="text-h3-sm text-light font-light swiper-slide swiper-slide-next" data-swiper-slide-index="0">Immersive Experience</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="1">Multi-Layered Protection</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="2">Regulatory Compliance</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="3">Risk Mitigation</p>
                    <p class="text-h3-sm text-light font-light swiper-slide" data-swiper-slide-index="4">Real-Time Monitoring</p>  
                </div> 
            </div> 
        </div> 
    </div> -->

