<footer class="bg-black py-10">
  <div class="container mx-auto px-7">
    <div class="text-zinc-300 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mb-8 border-b-2 border-zinc-800 pb-10">
      <div>
        <h4 class="text-zinc-500 mb-3">OTHERS</h4>
        <ul>
          <li><a href="#" class="hover:text-white">About Us</a></li>
          <li><a href="#" class="hover:text-white">Contact</a></li>
          <li><a href="#" class="hover:text-white">News</a></li>
          <li><a href="#" class="hover:text-white">Resources</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-zinc-500 mb-3">OTHERS</h4>
        <ul>
          <li><a href="#" class="hover:text-white">Privacy Policy</a></li>
          <li><a href="#" class="hover:text-white">Terms & Conditions</a></li>
          <li><a href="#" class="hover:text-white">Legal Terms</a></li>
          <li><a href="#" class="hover:text-white">404</a></li>
        </ul>
      </div>
      <div>
        <h4 class="text-zinc-500 mb-3">STAY UP TO DATE</h4>
        <form class="flex flex-col gap-4">
          <input type="email" placeholder="Your email" class="bg-black w-full px-4 py-2 border border-zinc-800 rounded-md focus:outline-none focus:ring-2 focus:ring-zinc-500"/>
          <button type="submit" class="bg-zinc-200 text-black px-4 py-2 rounded-md ">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="flex justify-between items-center text-zinc-300">
      <div>
        <img src="./assets/imgs/image-contact1.webp" class="w-24 sm:w-32" alt="logo">
      </div>
      <div>
        <p>©2024 All Rights Reserved by Secury.</p>
      </div>
    </div>
  </div>
</footer>
