<div class="bg-[url('./assets/imgs/bg_nets.svg')] bg-no-repeat bg-cover bg-black py-5">
  <p class="text-4xl sm:text-5xl md:text-4xl lg:text-5xl text-gray-300 leading-tight text-center mb-10">
    {{"login.welcome"| translate}}</p>
  <div class="max-w-3xl mx-auto my-10 bg-black border-1 border-zinc-700 p-10 rounded-lg shadow-lg">
    <form [formGroup]="loginForm" (ngSubmit)="loginSubmit()" class="space-y-6">

      <div class="aos-init aos-animate my-4 animate__animated animate__backInLeft animate__delay-0.4s"
        data-aos="fade-up-sm" data-aos-delay="200">
        <label for="email" class="block text-sm font-medium text-zinc-300">{{"login.email"| translate}}</label>
        <input [ngClass]="{
                'is-Valid':!loginForm.get('email')?.errors && (loginForm.get('email')?.touched ||loginForm.get('email')?.dirty),
                'is-invalid':loginForm.get('email')?.errors && (loginForm.get('email')?.touched || loginForm.get('email')?.dirty),
              }" id="email" formControlName="email" type="email" placeholder='{{"login.email"| translate}}'
          class="bg-zinc-800 border-zinc-200 p-2 mt-1 block w-full rounded-md  shadow-sm focus:border-amber-200 outline-zinc-800 text-zinc-400" />
        @if(loginForm.get('email')?.errors && (loginForm.get('email')?.touched ||
        loginForm.get('email')?.dirty) ){
        <div class="text-red-500 text-xs mt-1 flex">
          @if(loginForm.get('email')?.getError('required')){
          <p class="m-0">{{"login.emailRequired"| translate}}</p>
          }
          @else if(loginForm.get('email')?.getError('email')){
          <p class="m-0">{{"login.validEmail"| translate}}</p>
          }

        </div>
        }

      </div>

      <div class="aos-init aos-animate my-4 animate__animated animate__backInRight animate__delay-0.4s"
        data-aos="fade-up-sm" data-aos-delay="200">
        <label for="password" class="block text-sm font-medium text-zinc-300">{{"login.pass"| translate}}</label>
        <input [ngClass]="{
                'is-Valid':!loginForm.get('password')?.errors && (loginForm.get('password')?.touched ||loginForm.get('password')?.dirty),
                'is-invalid':loginForm.get('password')?.errors && (loginForm.get('password')?.touched || loginForm.get('password')?.dirty),
              }" id="password" formControlName="password" type="password" placeholder='{{"login.pass"| translate}}'
          class="bg-zinc-800 border-zinc-200 p-2 mt-1 block w-full rounded-md  shadow-sm focus:border-amber-200 outline-zinc-800 text-zinc-400" />

        @if(loginForm.get('password')?.errors && (loginForm.get('password')?.touched ||
        loginForm.get('password')?.dirty) ){
        <div class="text-red-500 text-xs mt-1 flex">
          @if(loginForm.get('password')?.getError('required')){
          <p class="m-0">{{"login.passRequired"| translate}}</p>
          }
          @else if(loginForm.get('password')?.getError('password')){
          <p class="m-0">{{"login.validPass"| translate}}</p>
          }

        </div>
        }
      </div>

      <div>
        <button type="submit"
          class="w-full bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 disabled:bg-zinc-950  aos-init aos-animate my-4 animate__animated animate__backInUp animate__delay-0.4s ">
          {{"login.login"| translate}} </button>
          <!-- <div>
            <a  routerLink="/createAccount" class="text-center text-lg font-bold text-blue-500 hover:text-blue-700">SignUp</a>

            <a class="text-center text-lg font-bold text-blue-500 hover:text-blue-700">{{"login.forget"| translate}}</a>

          </div> -->
          <div class="flex justify-between items-center space-x-6 p-4 ">
            <a routerLink="/createAccount" class="text-center text-lg font-bold text-blue-500 hover:text-blue-700">
              {{ "login.signup" | translate }}
            </a>
          
            <a routerLink="/forgotPassword" class="text-center text-lg font-bold text-blue-500 hover:text-blue-700">
              {{ "login.forget" | translate }}
            </a>
          </div>
          

      </div>
    </form>
  </div>
</div>