<div class="bg-black text-white pb-20">

    <div class="container mx-auto xl:px-10 "> 
        <div class="relative  px-12 py-32 rounded-2xl border border-border/50 bg-theme-light/70 mx-auto isolate overflow-hidden bg-cta-image bg-[url('/images/bg_nets.svg')] bg-no-repeat bg-cover bg-black"> 
            <div class="absolute left-1/2 -translate-x-1/2 md:translate-y-[65%] aspect-square w-full bottom-0 z-10"> 
                <canvas class="ctaSporeCanvas" id="ctaCanvas" width="1400" height="1400" style="width: 100%; height: 100%;"></canvas> 
            </div> 
            <div class="absolute left-1/2 -translate-x-1/2 aspect-square bottom-0 -z-40 w-2/6 lg:w-2/6"> 
                <div class="absolute inset-0 grid place-items-center -rotate-12"> 
                    <div class="flex items-center justify-center rotate-0 w-full h-full -z-40 relative"> 
                        <div class="w-3/6 h-3/6 bg-secondary blur-[150px] translate-x-6 rounded-full aos-init aos-animate" data-aos="fade-in" data-aos-delay="100"></div> 
                        <div class="w-5/6 h-5/6 bg-tertiary blur-[150px] rounded-full aos-init aos-animate" data-aos="fade-in" data-aos-delay="200"></div> 
                    </div> 
                </div> 
            </div> 
            <div class="flex flex-col gap-8 items-center justify-between text-center xl:col-7 mx-auto relative z-10"> 
                <div class="px-3 py-0.5 rounded-full border-border/80 border inline-block"> 
                    <span class="text-sm font-medium bg-gradient-to-r from-orange-300 to-tertiary bg-clip-text text-transparent" style="background-size: 120%; background-position: center;"> 
                        PEACE OF MIND IS OUR #1 PRIORITY 
                    </span> 
                </div> 
                <div> 
                    <h2 class="mb-4 text-5xl">Start securing from today</h2> 
                    <p class="text-text/80 text-lg">With Secury's advanced AI-driven threat detection, you gain 24/7 security monitoring against cyber attacks.</p> 
                </div> 
                <a href="#" class="group/arrowBtn flex items-center max-w-max gap-x-4 btn btn-primary text-black bg-gray-200 hover:bg-gray-300 py-3 px-6 rounded-full" aria-label="Get Started For Free"> 
                    <span class="">Get Started</span> 
                    <div class="relative w-4 h-4 grid place-items-center overflow-hidden"> 
                        <i class="group-hover/arrowBtn:translate-x-full transition-transform duration-500 ease-out w-4 h-4 grid place-items-center"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                                stroke-linecap="round" stroke-linejoin="round" style="width: 100%; height: 100%;">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> 
                        </i> 
                        <i class="absolute top-0 right-full group-hover/arrowBtn:translate-x-full transition-transform duration-500 ease-out w-4 h-4 grid place-items-center"> 
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                                stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 100%; height: 100%;">
                                <line x1="5" y1="12" x2="19" y2="12"></line>
                                <polyline points="12 5 19 12 12 19"></polyline>
                            </svg> 
                        </i> 
                    </div> 
                </a> 
            </div> 
            <div class="absolute inset-0"> 
                <img src="images/circle.webp" alt="" loading="lazy" decoding="async" 
                    class="absolute top-[60px] left-[50px] w-[60px] lg:w-[141px]" width="141" height="123"> 
                <img src="images/squar.webp" alt="" loading="lazy" decoding="async" 
                    class="absolute bottom-[60px] right-0 translate-x-[20px] w-[60px] lg:w-[195px]" width="195" height="207"> 
            </div> 
        </div> 
    </div>

</div>