<main class="flex justify-center items-center">
  <p-card class="w-96 shadow-lg">
    <div class="flex justify-content-center">
      <h2 class="text-center text-xxl font-semibold text-gray-800">{{'app.auth.change_password.changePassword' | translate }}</h2>
    </div>
    <div class="change-container">
      <form [formGroup]="changeForm" (ngSubmit)="onSubmit()">
        <app-input placeholder="auth.change_password.oldPasswordPlaceholder" [formGroup]="changeForm" errorKey="auth.invalidOldPassword" label="auth.change_password.changePassword" controlName="oldPassword" icon="pi-lock" type="password"></app-input>
        <app-input placeholder="auth.change_password.newPasswordPlaceholder" [formGroup]="changeForm" errorKey="auth.invalidNewPassword" label="auth.change_password.newPassword" controlName="newPassword" icon="pi-lock" type="password"></app-input>
        <app-input placeholder="auth.change_password.confirmNewPasswordPlaceholder" [formGroup]="changeForm" errorKey="auth.invalidConfirmPassword" label="auth.change_password.changePassword" controlName="confirmNewPassword" icon="pi-lock" type="password" ></app-input>
        <p-button type="submit" [label]="'app.auth.change_password.changePasswordButton' | translate" fluid="true"></p-button>
      </form>
    </div>
  </p-card>
</main>
