<div class="container">
  <section class="facilities" id="facilities-section">
    <div class="header d-flex">
      <div class="add-company">
        <a routerLink="/createFacilities">{{
          "app.facilities.add-facility" | translate
        }}</a>
      </div>

      <div class="search">
        <form class="form-facility">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="{{ 'app.facilities.search-here' | translate }}"
            [(ngModel)]="searchValue"
            [ngModelOptions]="{ standalone: true }"
          />
          <!-- <i class="pi pi-sliders-h"></i> -->
          <button type="submit">
            {{ "app.facilities.search" | translate }}
          </button>
        </form>
      </div>
    </div>
    @for (card of filteredCards().slice(first, first + rows); track $index) {
    <div class="sacle">
      <div class="card d-flex" *ngIf="card.type">
        <div class="card-image">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSEfH9O71AqLC5OqNlOVBTVSZjTRQSUr9gmmg&s"
            alt=""
            (click)="goToFacilityDetails(card.id)"
          />
        </div>
        <div class="card-text">
          <h2 (click)="goToFacilityDetails(card.id)">{{ card.name }}</h2>
          <p class="type">{{ card.type }}</p>
          <p class="location">
            <img src="images/location-icon.svg" alt="" />
            <span>{{ "app.facilities.location" | translate }}:</span>
            {{ card.address.country }} ,{{ card.address.city }}
          </p>
        </div>
        <div class="card-actions">
          <div class="share-i"><i class="pi pi-share-alt"></i></div>
          <button class="edit" (click)="updateFacility(card.id)">
            {{ "app.facilities.edit-facility" | translate }}
          </button>

          <button class="delete" (click)="openDeletePopup(card)">
            {{ "app.facilities.delete-facility" | translate }}
          </button>
          <div class="card flex justify-center popUp">
            @if(currentCard){
            <app-delete-popup
              [visible]="showDeletePopup"
              [itemName]="currentCard.name"
              (confirmDelete)="deletFacility(currentCard.id)"
              (closePopup)="showDeletePopup = false"
            >
            </app-delete-popup>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </section>
</div>
<p-paginator
  (onPageChange)="onPageChange($event)"
  [first]="first"
  [rows]="rows"
  [totalRecords]="totalRecords"
  [rowsPerPageOptions]="[10, 20]"
/>
