
<div class="bg-[url('/images/bg_nets.svg')] bg-no-repeat bg-cover bg-black py-10">
  <div class="container mx-auto px-6 sm:px-10 md:px-12 grid gap-10 sm:grid-cols-1 md:grid-cols-2 items-center">

    <div class="text-center md:text-left">
      <button class="animate__animated animate__fadeInUp animate__faster px-6 py-2 rounded-full border mb-8 border-neutral-600 bg-gradient-to-r from-orange-800 via-red-500 to-blue-700 text-transparent bg-clip-text">
        #1 HEWAR SECURITY APP
      </button>
      <h1 class="animate__animated animate__fadeInUp animate__faster text-4xl sm:text-5xl md:text-6xl lg:text-7xl text-white font-bold leading-tight">
        Pioneer in <br class="md:hidden" /> Safety and Security
      </h1>
      <div class="mt-6 flex flex-col getStart">

        <a href="#" class="group/arrowBtn flex items-center max-w-max gap-x-4 btn btn-primary text-black bg-gray-200 hover:bg-gray-300 py-3 px-6 rounded-full" aria-label="Get Started For Free"> 
          <span class="">Get Started</span> 
          <div class="relative w-4 h-4 grid place-items-center overflow-hidden"> 
              <i class="group-hover/arrowBtn:translate-x-full transition-transform duration-500 ease-out w-4 h-4 grid place-items-center"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" 
                      stroke-linecap="round" stroke-linejoin="round" style="width: 100%; height: 100%;">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                  </svg> 
              </i> 
              <i class="absolute top-0 right-full group-hover/arrowBtn:translate-x-full transition-transform duration-500 ease-out w-4 h-4 grid place-items-center"> 
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="width: 100%; height: 100%;">
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                      <polyline points="12 5 19 12 12 19"></polyline>
                  </svg> 
              </i> 
          </div> 
      </a> 

        <!-- <button class="animate__animated animate__fadeInUp animate__faster py-3 px-8 rounded-full border border-neutral-600 bg-white text-black text-lg sm:text-xl md:text-2xl">
          Get Started →
        </button> -->
        <p class="animate__animated animate__fadeInUp animate__faster text-lg sm:text-xl text-gray-500 mt-4">
          Where Hacks and Breaches Hit a Brick Wall.
        </p>
      </div>
    </div>

    <div class="relative flex justify-center items-center">

      <canvas class="absolute inset-0 w-full h-full z-10 heroSporeCanvas" width="2000" height="2000"></canvas>

      <div class="absolute inset-0 grid place-items-center">
        <div class="flex items-center justify-center rotate-45 w-full h-full">
          <div class="w-2/6 h-3/6 bg-secondary blur-[80px] rounded-full aos-init aos-animate" 
               data-aos="fade-up-sm" data-aos-delay="100" data-aos-duration="1000">
          </div>
          <div class="w-2/6 h-3/6 bg-tertiary blur-[80px] rounded-full aos-init aos-animate" 
               data-aos="fade-up-sm" data-aos-delay="200" data-aos-duration="1000">
          </div>
        </div>
      </div>

      <!-- <div class="animate-rotate-infinite relative z-20 max-w-7xl w-full">
        <img src="images/homepage_hero.jpeg" alt="Homepage Hero" loading="lazy" decoding="async"
             class="w-full h-auto object-cover rounded-lg shadow-xl">
      </div> -->
      <div class="animate-rotate-infinite relative z-20 max-w-7xl w-full">
        <img src="./assets/imgs/yyyy.webp" 
        alt="Homepage Hero" loading="lazy" decoding="async"
             class="w-full h-auto object-cover rounded-lg shadow-xl">
      </div>
    </div>
  </div>
</div>
