<div class="container">
  <p-table [value]="priceRequests" dataKey="id" stripedRows [paginator]="true" [rows]="10" [globalFilterFields]="['company.name']" selectionMode="single" #dt [rowsPerPageOptions]="[5, 10, 20]" [tableStyle]="{ 'min-width': '50rem'}">
    <ng-template #caption>
      <p-iconfield iconPosition="left">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input pInputText type="text" [(ngModel)]="searchTerm" (input)="dt.filterGlobal(searchTerm, 'contains')" placeholder="Global Search"/>
      </p-iconfield>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="facility.name" style="width:20%">Client Name <p-sortIcon field="facility.name"></p-sortIcon></th>
        <th pSortableColumn="facility.contractType" style="width:20%">Contract Type <p-sortIcon field="facility.contractType"></p-sortIcon></th>
        <th pSortableColumn="facility.requestStatus" style="width:20%"> Status <p-sortIcon field="facility.requestStatus"></p-sortIcon></th>
        <th style="width:30%">Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-service let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" [pRowToggler]="service" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
        </td>
        <td>{{ service.facility.name }}</td>
        <td>{{ 'enums.contract-types.'+ service.contractType | translate }}</td>
        <td>{{ 'enums.request-status.'+ service.requestStatus | translate }}</td>
        <td>
          <p-button class="mx-1" (click)="hide(service.id)" label="Hide"/>
          <p-button class="mx-1" routerLink="/create-price-offer/{{service.id}}" label="Make Offer"/>
          <p-button class="mx-1" label="Details"/>
          <p-button class="mx-1" (click)="openChat()" label="Chat"/>
        </td>
      </tr>
    </ng-template>

    <!-- Expanded Row Content -->
    <ng-template pTemplate="rowexpansion" let-service>
      <tr>
        <td colspan="5">
          <div class="flex justify-content-between">
            <div>Start Date: <strong>{{ service.startDate | date }}</strong></div>
            <div>End Date: <strong>{{ service.endDate | date }}</strong></div>
          </div>
          <h2>Services</h2>
          <p-table [value]="service.services" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:30%">ID</th>
                <th style="width:30%">Quantity</th>
                <th style="width:30%">Shift</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
              <tr>
                <td>{{ service.serviceId }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ 'enums.shift-type.' + service.shiftType | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
          <h2>Other Services</h2>
          <p-table [value]="service.otherServices" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th style="width:30%">Service</th>
                <th style="width:30%">Quantity</th>
                <th style="width:30%">Shift</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-service>
              <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ 'enums.shift-type.' + service.shiftType | translate }}</td>
              </tr>
            </ng-template>
          </p-table>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
