<div class="container">
  <p-table [value]="priceRequests" dataKey="id" stripedRows [paginator]="true" [rows]="10" [globalFilterFields]="['company.name']" selectionMode="single" #dt [tableStyle]="{'height': '50rem' }">
    <ng-template #caption>
      <p-iconfield iconPosition="left">
        <p-inputicon><i class="pi pi-search"></i></p-inputicon>
        <input pInputText type="text" [(ngModel)]="searchTerm" (input)="dt.filterGlobal(searchTerm, 'contains')" placeholder="Global Search"/>
      </p-iconfield>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th></th>
        <th pSortableColumn="facility.name">Client Name <p-sortIcon field="facility.name"></p-sortIcon></th>
        <th pSortableColumn="facility.contractType">Contract Type <p-sortIcon field="facility.contractType"></p-sortIcon></th>
        <th pSortableColumn="facility.requestStatus">Request Status <p-sortIcon field="facility.requestStatus"></p-sortIcon></th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-service let-expanded="expanded">
      <tr>
        <td>
          <p-button type="button" [pRowToggler]="service" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"/>
        </td>
        <td>{{ service.facility.name }}</td>
        <td>{{ 'enums.contract-types.'+ service.contractType | translate }}</td>
        <td>{{ 'enums.request-status.'+ service.requestStatus | translate }}</td>
        <td>
          <p-button (click)="openChat()" label="Chat"/>
          <p-button (click)="hide(service.id)" label="Hide"/>
        </td>
      </tr>
    </ng-template>

    <!-- Expanded Row Content -->
    <ng-template pTemplate="rowexpansion" let-service>
      <tr>
        <td colspan="5">
          <div class="flex justify-content-between mt-1">
            <div>Start Date: <strong>{{ service.startDate | date }}</strong></div>
            <div>End Date: <strong>{{ service.endDate | date }}</strong></div>
          </div>
          <h2>Services</h2>
          <p-table [value]="service.services" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th>Service Type</th>
                <th>Quantity</th>
                <th>Shift Type</th>
                <th>Monthly Cost</th>
                <th>Daily Cost</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-service>
              <tr>
                <td>{{ service.serviceId }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ 'enums.shift-type.' + service.shiftType | translate }}</td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>
          <h2>Other Services</h2>
          <p-table [value]="service.otherServices" dataKey="id">
            <ng-template pTemplate="header">
              <tr>
                <th>Service Type</th>
                <th>Quantity</th>
                <th>Shift Type</th>
                <th>Monthly Cost</th>
                <th>Daily Cost</th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-service>
              <tr>
                <td>{{ service.name }}</td>
                <td>{{ service.quantity }}</td>
                <td>{{ 'enums.shift-type.' + service.shiftType | translate }}</td>
                <td></td>
                <td></td>
              </tr>
            </ng-template>
          </p-table>

          <div class="mt-2">
            <div class="flex justify-content-between mt-1">
            <p-button routerLink="/update-price-offer/{{service.id}}" label="Update Price Offer" [disabled]="!service.hasOffers || service.requestStatus === 4"/>
            <p-button routerLink="/create-price-offer/{{service.id}}" label="Create Price Offer" [disabled]="service.hasOffers || service.requestStatus === 4"/>
            </div>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
