<div class="create-component">
  <div class="container">
    <h2 class="text-center mb-4"> {{ "app.companies.create-update-company.create-title" | translate }} </h2>
    <form [formGroup]="createCompForm" (ngSubmit)="onSubmit()">
      <!-- company Data -->
      <div class="card">
        <p class="p-group"> {{ "app.companies.create-update-company.company-data-title" | translate }} </p>
        <div class="grid">
          @for (input of companyDataInputs; track $index) {
            <div class="col-12 md:col-6 lg:col-4">
              <app-input [formGroup]="createCompForm" [placeholder]="input.placeholder" [errorKey]="input.errorKey" [controlName]="input.controlName" [icon]="input.icon" [type]="input.type" [label]="input.label"> </app-input>
            </div>
            }
            <div class="group image-upload">
              <app-upload-image-2
                (fileSelected)="onFileSelectlogo($event)"
              ></app-upload-image-2>
            </div>
          </div>
            <p class="p-group"> {{ "app.companies.create-update-company.address-data-title" | translate }} </p>
          <div class="grid">
            <ng-container formGroupName="address">
              @for (input of addressDataInputs; track $index) {
                <div class="col-12 md:col-6 lg:col-4">
                  <app-input [formGroup]="addressGroup" [placeholder]="input.placeholder" [errorKey]="input.errorKey" [controlName]="input.controlName" [icon]="input.icon" [type]="input.type" [label]="input.label"> </app-input>
                </div>
              }
            </ng-container>
          </div>
        </div>
      <!-- admin Data -->
      <div class="card">
        <p class="p-group"> {{ "app.companies.create-update-company.admin-data-title" | translate }} </p>
        <div class="grid">
          <ng-container formGroupName="adminInfo">
            @for (input of adminDataInputs; track $index) {
              <div class="col-12 md:col-6 lg:col-4">
                <app-input [formGroup]="adminInfoGroup" [placeholder]="input.placeholder" [errorKey]="input.errorKey" [controlName]="input.controlName" [icon]="input.icon" [type]="input.type" [label]="input.label"> </app-input>
                @if(input.controlName === 'confirmPassword' && createCompForm.get('adminInfo')?.hasError('mismatch')){
                    <p-message severity="error" [text]="'app.' + input.errorKey + '-2' | translate"></p-message>
                }
              </div>
              }
              <div class="group image-upload">
                <app-upload-image-2
                  (fileSelected)="onFileSelectedImage($event)"
                ></app-upload-image-2>
              </div>
            </ng-container>
        </div>
      </div>
      <!-- actions -->
      <div class="actions">
        <button type="submit" class="save">{{ "app.companies.create-update-company.save" | translate }}</button>
        <button class="cancel" routerLink="/companies">{{ "app.companies.create-update-company.cancel" | translate }}</button>
      </div>
    </form>
  </div>
</div>
