<section class="blockchain-section">
    <div class="container">
        <div class="row">
            <div class="col layer">
                <div class="image">
                    <!-- أضيفي صورة الشكل الثلاثي هنا -->
                    <img src="./assets/imgs/image-contact08.webp" alt="Blockchain Icon">
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class=" abs ps-3">
                <span class="rounded-pill safe">
                    SAFE & SECURE

                </span>
            </div>

            <div class="content">

                <h1 class="h2">The Next Generation of Blockchain Security.</h1>
                <p>
                    Secury leverages powerful encryption and blockchain technology to provide
                    industry-leading protection for your sensitive data.
                </p>
                <div class="contact-text">
                    <div class="right">
                        <h4 class="h6 pt-5 pb-3">
                            Military-grade encryption
                        </h4>
                        <p>
                            Use and re-use responsive sections to create the perfect layout.
                        </p>
                    </div>
                    <div class="left">
                        <h4 class="h6 pt-5 pb-3">
                            Decentralized network </h4>
                        <p>
                            Use and re-use responsive sections to create the perfect layout.
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>
</section>


