


<div class=" bg-black p-20 ">
    <div class="container mx-auto w-10/12 grid gap-6 sm:grid-cols-1 md:grid-cols-2 md:gap-72 mt-20 ">
        <div class="">
          <button class="animate__animated animate__fadeInUp animate__faster  px-4 rounded-full  border mb-10 border-neutral-600  bg-gradient-to-r from-orange-800 via-red-500 to-blue-700 text-transparent bg-clip-text"> #1 HEWAR SECURITY APP </button>
          <p class="animate__animated animate__fadeInUp animate__faster text-3xl text-white">Threat Detection Powered </p>
          <p class="animate__animated animate__fadeInUp animate__faster text-3xl text-white">By AI and Expert Analysts.</p>
          <p class="animate__animated animate__fadeInUp animate__faster text-1xl pt-5 pb-5 text-gray-500">With Secury's advanced AI-driven threat detection, you gain 24/7 security monitoring against cyber attacks.</p>
          <div class="flex gap-15 mt-7">
            <span>
                <p class="text-1xl text-white">Real-time anomaly detection</p>
                <p class=" animate__animated animate__fadeInUp animate__faster  text-gray-500 mt-7">Use and re-use responsive sections to create the perfect layout.</p>
            </span>
            <span>
                <p class="text-1xl text-white">24/7 security center</p>
                <p class=" animate__animated animate__fadeInUp animate__faster  text-gray-500 mt-7">Use and re-use responsive sections to create the perfect layout.</p>
            </span>
          </div>
        </div>
        
        <div class="bg-[url('/images/bg_nets.svg')] bg-no-repeat bg-cover backdrop-blur-3xl flex justify-center items-center ">
          <img class="w-8/12 sm:w-6/12 lg:w-5/12 h-auto object-cover ml-20" src="./assets/imgs/iiiiiiii.webp"
           loading="lazy" decoding="async">
          <div class="absolute inset-0 grid place-items-center "> 
            <canvas class="absolute inset-0 w-full h-full overflow-hidden -z-10 serviceSporeCanvas" width="2000" height="2000"></canvas> 
            <div class="flex items-center justify-center rotate-[55deg] w-full h-full -z-20 bg-gradient-image"> 
              <div class="w-2/3 aspect-square bg-secondary blur-[150px] rounded-full translate-x-10 bg-gradient-to-r from-orange-800 via-red-500 to-blue-700"></div> 
              <div class="w-2/3 aspect-square bg-tertiary blur-[150px] rounded-full -translate-x-10 bg-gradient-to-r from-orange-800 via-blue-500 to-blue-700"></div> 
            </div> 
          </div>
        </div>
      </div>
</div>