
.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-label {
  font-size: 0.875rem;
  color: #6c757d;
}

p-select, input[pInputText] {
  width: 100%;
}

p-select:hover, input[pInputText]:hover, input[pInputText]:focus, input[pInputText]:active {
  border-color: #6bbef7;
}

.pi-eye {
  cursor: pointer;
}
