<div class="bg-black text-zinc-300 ">
    <div class="container overflow-hidden py-40"> 
        <div class="section-intro text-center lg:col-6 mx-auto mb-52 lg:ml-40"> 
            <div class="px-3 py-0.5 rounded-full border-border/80 border inline-block"> 
                <span class="text-sm font-medium bg-gradient-to-r from-orange-300 to-tertiary bg-clip-text text-transparent" 
                    style="background-size: 120%; background-position: center;"> STEPS WE FOLLOW </span> 
            </div> 
            <h2 class="my-7 text-4xl">How Secury Works</h2> 
            <p class="text-lg text-text/80">Use and re-use tons of responsive sections too a main create the perfect layout</p> 
            <p class="text-lg text-text/80">Sections are firmly of organised into the perfect start. layout</p> 
            <p class="text-lg text-text/80">Sections are firmly of organised into the perfect start</p> 
        </div> 
        <div class="section-content pt-10 relative"> 
            <div class=" flex lg:block gap-5 justify-center flex-wrap"> 
                <div FadeInView class="hiw_circle_text text-center border px-10 lg:px-0 py-4 lg:py-0 border-border rounded-2xl lg:border-none lg:absolute left-[17.5%] top-[35%]"> 
                    <div class="flex flex-col items-center gap-y-3 aos-init aos-animate" data-aos="fade-up-sm" data-aos-delay="0"> 
                        <span>Secure keys generated</span> 
                        <span class="w-10 aspect-square grid place-items-center bg-theme-light border border-border rounded-full">1</span> 
                    </div> 
                </div>
                <div FadeInView class="hiw_circle_text text-center border px-10 lg:px-0 py-4 lg:py-0 border-border rounded-2xl lg:border-none lg:absolute left-[27%] top-[15%]"> 
                    <div class="flex flex-col items-center gap-y-3 aos-init aos-animate" data-aos="fade-up-sm" data-aos-delay="100"> 
                        <span>Data encrypted</span> 
                        <span class="w-10 aspect-square grid place-items-center bg-theme-light border border-border rounded-full">2</span> 
                    </div> 
                </div>
                <div FadeInView class="hiw_circle_text text-center border px-10 lg:px-0 py-4 lg:py-0 border-border rounded-2xl lg:border-none lg:absolute left-[55%] top-[-1.5%]"> 
                    <div class="flex flex-col items-center gap-y-3 aos-init aos-animate" data-aos="fade-up-sm" data-aos-delay="200"> 
                        <span>Blocks linked</span> 
                        <span class="w-10 aspect-square grid place-items-center bg-theme-light border border-border rounded-full">3</span> 
                    </div> 
                </div>
                <div FadeInView class="hiw_circle_text text-center border px-10 lg:px-0 py-4 lg:py-0 border-border rounded-2xl lg:border-none lg:absolute right-[10%] top-[15%]"> 
                    <div class="flex flex-col items-center gap-y-3 aos-init aos-animate" data-aos="fade-up-sm" data-aos-delay="300"> 
                        <span>Network validated</span> 
                        <span class="w-10 aspect-square grid place-items-center bg-theme-light border border-border rounded-full">4</span> 
                    </div> 
                </div>
                <div FadeInView class="hiw_circle_text text-center border px-10 lg:px-0 py-4 lg:py-0 border-border rounded-2xl lg:border-none lg:absolute right-[1.5%] top-[35%]"> 
                    <div class="flex flex-col items-center gap-y-3 aos-init aos-animate" data-aos="fade-up-sm" data-aos-delay="400"> 
                        <span>Transactions recorded</span> 
                        <span class="w-10 aspect-square grid place-items-center bg-theme-light border border-border rounded-full">5</span> 
                    </div> 
                </div> 
            </div> 
            <div class="hiw_outer_circle -mb-[200px] hidden lg:block relative">
                <div class="absolute inset-0 grid place-items-center">
                  <div class="w-full h-full rounded-full border-t-2 border-t-gray-800 border-b-2 border-b-gray-900 absolute lg:ml-52"></div>
                  <img
                    src="./assets/imgs/image-contact08.webp"
                    alt="center circle"
                    loading="lazy"
                    decoding="async"
                    class="z-40 w-[200px] h-[200px] ml-60"
                  />
                </div>
                <div FadeInView class="hiw_center_circle isolate">
                  <div class="absolute inset-0 grid place-items-center rotate-45">
                    <div class="flex items-center justify-center rotate-0 w-full h-full relative z-20">
                      <div class=" w-[20%] h-[25%]  blur-[120px] translate-x-6 rounded-full bg-red-400"></div>
                      <div class=" w-[20%] h-[25%]  blur-[120px] rounded-full bg-blue-500"></div>
                    </div>
                  </div>
                  <canvas
                    class="ctaSporeCanvas absolute inset-0 z-20"
                    id="hiwSporeCanvas"
                    width="1400"
                    height="1400"
                    style="width: 100%; height: 100%;"
                  ></canvas>
                </div>
            </div>
        </div>
    </div> 
</div>

