<div class="container">
  <div class="grid mt-7">
    <div class="col-4">
      <div class="image-details">
        <img src="images/card-image.svg" alt="" >
      </div>
    </div>
    <div class="col-7 mx-5">
      <h3 class="details-title">{{currentCompany?.name}}</h3>
      <p class="details-desc">{{currentCompany?.contactEmail}}</p>
      <p><img src="images/location-icon.svg" class="location-img " alt=""><span>{{'app.companies.companies-list.location' | translate}}:</span> {{currentCompany?.address?.city}}, {{currentCompany?.address?.country}}</p>
      <p class="company-services">{{'app.companies.companies-details.company-services' | translate}}</p>
      <div class="grid">
        <div class="col">
          <div class="box text-center">
            <img src="images/ser-01.svg" alt="">
            <h3>{{'app.companies.companies-list.facilities-security' | translate}}</h3>
            <p>{{'app.companies.companies-details.company-services-desc' | translate}}</p>
          </div>
        </div>
        <div class="col">
          <div class="box text-center">
            <img src="images/ser-02.svg" alt="">
            <h3>{{'app.companies.companies-list.industrial-security' | translate}}</h3>
            <p>{{'app.companies.companies-details.company-services-desc' | translate}}</p>
          </div>

        </div>
      </div>

    </div>
    <div class="card-actions mt-4 w-100">
      <div class="grid">
        <div class="col">
          <a routerLink="" class="details">{{'app.companies.companies-list.actions.request-quote' | translate}}</a>
        </div>
        <div class="col">
          <button [routerLink]="'/companies/updateCompany/' + currentCompany?.id" class="edit">{{'app.companies.companies-list.actions.edit' | translate}}</button>
        </div>
        <div class="col">
          <button class="delete" role="button" (click)="openDeletePopup(currentCompany!)">
            {{'app.companies.companies-list.actions.delete' | translate}}
          </button>
          <div class="card flex justify-center">
            <app-delete-popup
            [visible]="showDeletePopup"
            [itemName]="companyToDelete.name"
            (confirmDelete)="confirmDelete()"
            (closePopup)="showDeletePopup = false">
          </app-delete-popup>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
