* {
  box-sizing: border-box;
}
.facility-form {
  background-color: #f2fbff;
  width: 95%;
  margin: auto;
  padding: 20px;
  margin-bottom: 20px;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .p-input {
    margin-bottom: 15px;
    margin-top: 15px;
    width: 33%;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    small {
      color: red;
      font-size: 12px;
    }
  }
  .responsibleData {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .address {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .p-input {
      width: 33%;
    }
  }
  .admin-info {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .p-input {
    }
  }

  .form-buttons {
    display: flex;

    margin-top: 20px;
    .p-button-success {
      background-color: linear-gradient(
        316.48deg,
        #168aad 26.1%,
        #5c98f8 80.7%
      ) !important;
    }
  }
  .p-inputgroup,
  .p-inputgroup .p-floatlabel,
  .p-inputgroup .p-iftalabel {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 45px;
  }
  .form-create-facility {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .facility-form[_ngcontent-ng-c2411167448]
    .p-field[_ngcontent-ng-c2411167448] {
    margin-bottom: 15px;
    width: 50%;
  }
  .p-field {
    margin-bottom: 30px;
    width: 33%;
  }
  app-input {
    height: 50px !important;
    width: 30%;
    margin-bottom: 50px;
    margin-top: 25px;

    input {
      background-color: red;
      min-height: 45px;
      height: 45px !important;
    }
  }
  .responsibleData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .p-input {
      width: 30%;
      app-input {
        width: 30% !important;
      }
    }

    div {
      margin-right: 10px !important;
    }
  }

  .p-inputgroup {
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 50px !important;
  }
  .floatlabel {
    height: 50px !important;
    width: 100%;
  }
}
.form-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  div {
    margin-right: 10px;
  }
}
.dropdowns {
  display: flex;
  justify-content: center;
  width: 100%;
}
::ng-deep app-input .p-inputtext {
  height: 50px;
}

.group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 20px;
  background-color: #fff;
  align-items: center;
  border-radius: 5px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
.group.n {
  app-input {
    width: 32%;
  }
}
.p-group {
  font-size: 1.1rem;
  font-weight: bold;
  width: 100%;

  background: linear-gradient(316.48deg, #168aad 26.1%, #5c98f8 80.7%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttons {
  margin-top: 10px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.image-upload {
  justify-content: center;
}
app-upload-image-2 {
  width: 80%;
}
@media (max-width: 1056px) {
  .responsibleData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .p-input {
      width: 47% !important;
      app-input {
        width: 100% !important;
      }
    }

    div {
      margin-right: 10px !important;
    }
  }
  .address {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .p-input {
      width: 45% !important;
    }
  }

  app-input {
    height: 50px !important;
    width: 45% !important;
    margin-bottom: 20px;
    margin-top: 20px;

    input {
      background-color: red;
      min-height: 50px;
      height: 50px !important;
    }
  }
}
@media (max-width: 768px) {
  .responsibleData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .p-input {
      width: 100% !important;
      app-input {
        width: 100% !important;
      }
    }

    div {
      margin-right: 10px !important;
    }
  }
  .facility-form {
    padding: 10px;
    justify-content: center !important;
    .p-input {
      width: 100%;
    }
    input {
      width: 100%;
    }
  }
  input {
    width: 100%;
  }

  .form-buttons {
    flex-direction: column;
    gap: 5px;
  }
  .p-field {
    margin-bottom: 30px;
    width: 100% !important;
    justify-content: center !important;
  }
  .address {
    margin-bottom: 30px;
    width: 100% !important;
    justify-content: space-around;
    .p-input {
      width: 100%;
    }
  }
  app-input {
    height: 50px !important;
    width: 98% !important;
    margin-bottom: 20px;
    margin-top: 20px;

    input {
      background-color: red;
      min-height: 50px;
      height: 50px !important;
    }
  }
  .address {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .p-input {
      width: 100% !important;
    }
  }
}

@media (max-width: 580px) {
  .responsibleData {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    .p-input {
      width: 100% !important;
      app-input {
        width: 100% !important;
      }
    }

    div {
      margin-right: 10px !important;
    }
  }
  .address {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .p-input {
      width: 100% !important;
    }
  }
  .facility-form {
    padding: 10px;
    justify-content: center !important;
  }
  .dropdowns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    .p-field {
      width: 100% !important;
      p-dropdown {
        width: 100%;
      }
    }
  }
  .responsibleData {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    .p-input {
      width: 100%;
      margin-right: 10px !important;
    }
  }
  app-input {
    height: 50px !important;
    width: 98% !important;
    margin-bottom: 20px;
    margin-top: 20px;

    input {
      background-color: red;
      min-height: 50px;
      height: 50px !important;
    }
  }
}
