<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="register-grid">
    <div class="register-card">
      <p-card [style]="{'box-shadow': 'none'}" >
        <ng-template pTemplate="title">
          <div class="flex justify-content-center">{{ 'app.auth.register_company.companyData' | translate }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-input placeholder="auth.register_company.namePlaceholder" [formGroup]="registerForm" errorKey="auth.register_company.invalidName" controlName="name" icon="pi-building" type="text" label="auth.register_company.nameLabel"></app-input>
          <app-input placeholder="auth.emailPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidEmail" controlName="contactEmail" icon="pi-building" type="email" label="auth.register_company.contactEmailLabel"></app-input>
          <app-input placeholder="auth.phonePlaceholder" [formGroup]="registerForm" errorKey="auth.invalidPhone" controlName="phoneNumber" icon="pi-building" type="text" label="auth.phoneLabel"></app-input>
          <app-input placeholder="auth.register_company.registrationNumberPlaceholder" [formGroup]="registerForm" errorKey="auth.register_company.invalidRegistrationNumber" controlName="registrationNumber" icon="pi-building" type="text" label="auth.register_company.registrationNumberLabel"></app-input>
          <app-input placeholder="auth.register_company.taxIdPlaceholder" [formGroup]="registerForm" errorKey="auth.register_company.invalidTaxId" controlName="taxId" icon="pi-building" type="text" label="auth.register_company.taxIdLabel"></app-input>
          <app-input placeholder="auth.logoPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidLogo" controlName="logo" icon="pi-image" type="text" label="auth.logoLabel"></app-input>
        </ng-template>
      </p-card>
    </div>
    <div class="register-card">
      <p-card [style]="{'box-shadow': 'none'}">
        <ng-template pTemplate="title">
          <div class="flex justify-content-center">{{ 'app.auth.userData' | translate }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-input placeholder="auth.firstNamePlaceholder" [formGroup]="registerForm" errorKey="auth.invalidFirstName" controlName="firstName" icon="pi-building" type="text" label="auth.firstNameLabel"></app-input>
          <app-input placeholder="auth.lastNamePlaceholder" [formGroup]="registerForm" errorKey="auth.invalidLastName" controlName="lastName" icon="pi-building" type="text" label="auth.lastNameLabel"></app-input>
          <app-input placeholder="auth.emailPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidEmail" controlName="email" icon="pi-envelope" type="email" label="auth.emailLabel"></app-input>
          <app-input placeholder="auth.passwordPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidPassword" controlName="password" icon="pi-lock" type="password" label="auth.passwordLabel"></app-input>
          <app-input placeholder="auth.confirmPasswordPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidConfirmPassword" controlName="confirmPassword" icon="pi-lock" type="password" label="auth.confirmPasswordLabel"></app-input>
          <app-input placeholder="auth.phonePlaceholder" [formGroup]="registerForm" errorKey="auth.invalidPhone" controlName="phone" icon="pi-phone" type="text" label="auth.phoneLabel"></app-input>
          <app-input placeholder="auth.imageUrlPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidImageUrl" controlName="imageUrl" icon="pi-file" type="text" label="auth.imageUrlLabel"></app-input>
        </ng-template>
      </p-card>
    </div>
    <div class="register-card">
      <p-card [style]="{'box-shadow': 'none'}">
        <ng-template pTemplate="title">
          <div class="flex justify-content-center">{{ 'app.auth.address' | translate }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-input placeholder="auth.streetPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidStreet" controlName="street" icon="pi-map-marker" type="text" label="auth.streetLabel"></app-input>
          <app-input placeholder="auth.statePlaceholder" [formGroup]="registerForm" errorKey="auth.invalidState" controlName="state" icon="pi-map-marker" type="text" label="auth.stateLabel"></app-input>
          <app-input placeholder="auth.cityPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidCity" controlName="city" icon="pi-map" type="dropdown" [options]="cities" label="auth.cityLabel"></app-input>
          <app-input placeholder="auth.countryPlaceholder" [formGroup]="registerForm" errorKey="auth.invalidCountry" controlName="country" icon="pi-map-marker" type="text" label="auth.countryLabel"></app-input>
          <app-input placeholder="auth.postalCodePlaceholder" [formGroup]="registerForm" errorKey="auth.invalidPostalCode" controlName="postalCode" icon="pi-map-marker" type="text" label="auth.postalCodeLabel"></app-input>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="checkbox-container mb-3">
    <p-checkbox inputId="checked" formControlName="acceptTerms" [binary]="true" ></p-checkbox>
    <label for="checked">{{'app.auth.acceptOn' | translate}}<a href="#">{{'app.auth.terms' | translate}}</a></label>
  </div>
  <p-button fluid="true" type="submit" [disabled]="registerForm.invalid" [loading]="loading" >{{'app.auth.registerButton' | translate}}</p-button>
</form>
<app-confirm-email [showDialog]="showDialog" [email]="email" [password]="password" (closeDialog)="onCloseDialog()"></app-confirm-email>
