<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="register-grid">
    <div class="register-card">
      <p-card [style]="{'box-shadow': 'none'}" >
        <ng-template pTemplate="title">
          <div class="flex justify-content-center">{{ 'app.auth.register_company.companyData' | translate }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-input placeholder="register_company.namePlaceholder" [formGroup]="registerForm" errorKey="register_company.invalidName" controlName="name" icon="pi-building" type="text" label="register_company.nameLabel"></app-input>
          <app-input placeholder="emailPlaceholder" [formGroup]="registerForm" errorKey="invalidEmail" controlName="contactEmail" icon="pi-building" type="email" label="register_company.contactEmailLabel"></app-input>
          <app-input placeholder="phonePlaceholder" [formGroup]="registerForm" errorKey="invalidPhone" controlName="phoneNumber" icon="pi-building" type="text" label="phoneLabel"></app-input>
          <app-input placeholder="register_company.registrationNumberPlaceholder" [formGroup]="registerForm" errorKey="register_company.invalidRegistrationNumber" controlName="registrationNumber" icon="pi-building" type="text" label="register_company.registrationNumberLabel"></app-input>
          <app-input placeholder="register_company.taxIdPlaceholder" [formGroup]="registerForm" errorKey="register_company.invalidTaxId" controlName="taxId" icon="pi-building" type="text" label="register_company.taxIdLabel"></app-input>
          <app-input placeholder="logoPlaceholder" [formGroup]="registerForm" errorKey="invalidLogo" controlName="logo" icon="pi-image" type="text" label="logoLabel"></app-input>
        </ng-template>
      </p-card>
    </div>
    <div class="register-card">
      <p-card [style]="{'box-shadow': 'none'}">
        <ng-template pTemplate="title">
          <div class="flex justify-content-center">{{ 'app.auth.userData' | translate }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-input placeholder="firstNamePlaceholder" [formGroup]="registerForm" errorKey="invalidFirstName" controlName="firstName" icon="pi-building" type="text" label="firstNameLabel"></app-input>
          <app-input placeholder="lastNamePlaceholder" [formGroup]="registerForm" errorKey="invalidLastName" controlName="lastName" icon="pi-building" type="text" label="lastNameLabel"></app-input>
          <app-input placeholder="emailPlaceholder" [formGroup]="registerForm" errorKey="invalidEmail" controlName="email" icon="pi-envelope" type="email" label="emailLabel"></app-input>
          <app-input placeholder="passwordPlaceholder" [formGroup]="registerForm" errorKey="invalidPassword" controlName="password" icon="pi-lock" type="password" label="passwordLabel"></app-input>
          <app-input placeholder="confirmPasswordPlaceholder" [formGroup]="registerForm" errorKey="invalidConfirmPassword" controlName="confirmPassword" icon="pi-lock" type="password" label="confirmPasswordLabel"></app-input>
          <app-input placeholder="phonePlaceholder" [formGroup]="registerForm" errorKey="invalidPhone" controlName="phone" icon="pi-phone" type="text" label="phoneLabel"></app-input>
          <app-input placeholder="imageUrlPlaceholder" [formGroup]="registerForm" errorKey="invalidImageUrl" controlName="imageUrl" icon="pi-file" type="text" label="imageUrlLabel"></app-input>
        </ng-template>
      </p-card>
    </div>
    <div class="register-card">
      <p-card [style]="{'box-shadow': 'none'}">
        <ng-template pTemplate="title">
          <div class="flex justify-content-center">{{ 'app.auth.address' | translate }}</div>
        </ng-template>
        <ng-template pTemplate="content">
          <app-input placeholder="streetPlaceholder" [formGroup]="registerForm" errorKey="invalidStreet" controlName="street" icon="pi-map-marker" type="text" label="streetLabel"></app-input>
          <app-input placeholder="statePlaceholder" [formGroup]="registerForm" errorKey="invalidState" controlName="state" icon="pi-map-marker" type="text" label="stateLabel"></app-input>
          <app-input placeholder="cityPlaceholder" [formGroup]="registerForm" errorKey="invalidCity" controlName="city" icon="pi-map" type="dropdown" [options]="cities" label="cityLabel"></app-input>
          <app-input placeholder="countryPlaceholder" [formGroup]="registerForm" errorKey="invalidCountry" controlName="country" icon="pi-map-marker" type="text" label="countryLabel"></app-input>
          <app-input placeholder="postalCodePlaceholder" [formGroup]="registerForm" errorKey="invalidPostalCode" controlName="postalCode" icon="pi-map-marker" type="text" label="postalCodeLabel"></app-input>
        </ng-template>
      </p-card>
    </div>
  </div>
  <div class="checkbox-container mb-3">
    <p-checkbox inputId="checked" formControlName="acceptTerms" [binary]="true" ></p-checkbox>
    <label for="checked">{{'app.auth.acceptOn' | translate}}<a href="#">{{'app.auth.terms' | translate}}</a></label>
  </div>
  <button fluid="true" type="submit" class="custom-button" [disabled]="registerForm.invalid" >{{'app.auth.registerButton' | translate}}</button>
</form>
<app-confirm-email [showDialog]="showDialog" [email]="email" [password]="password" (closeDialog)="onCloseDialog()"></app-confirm-email>
