<footer class="footer">
  <div class="container">
    <div class="footer-sections text-zinc-300">
        <div class="footer-column">
          <h4 class="text-zinc-500 mb-3">OTHERS</h4>
          <ul>
            <li><a >About Us</a></li>
            <li><a>Contact</a></li>
            <li><a >News</a></li>
            <li><a >Resources</a></li>
          </ul>
        </div>
        <div class="footer-column">
          <h4 class="text-zinc-500 mb-3">OTHERS</h4>
          <ul>
            <li><a >Privacy Policy</a></li>
            <li><a >Terms & Conditions</a></li>
            <li><a >Legal Terms</a></li>
            <li><a >404</a></li>
          </ul>
        </div>
        <div class="footer-column stay-updated">
          <h4 class="text-zinc-500 mb-3">STAY UP TO DATE</h4>
          <form>
            <input type="email" placeholder="Your email"  class="outline-none" style="border: 1px solid #4a4a4a;"/>
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
      <div class="footer-bottom text-zinc-300">
        <div class="img">
            <img src="./assets/imgs/image-contact1.webp" class="w-25" alt="logo">
        </div>
        <div class="cont">
            <p>©2024 All Rights Reserved by Secury.</p>
        </div>
    </div>
  </div>
  </footer>
