<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem' }">
  <p class="head">
    {{ "app.delete-item.question" | translate }} {{ itemName }}
    {{ "app.delete-item.question-2" | translate }}
  </p>
  <p class="desc">
    {{ "app.delete-item.complete" | translate }} {{ itemName }}
    {{ "app.delete-item.click" | translate }}
  </p>
  <div class="flex justify-between gap-2">
    <p-button
      label="{{ 'app.delete-item.delete' | translate }}"
      class="delete-comp"
      (click)="onDelete()"
    />
    <p-button
      label="{{ 'app.delete-item.cancel' | translate }}"
      class="cancel"
      severity="secondary"
      (click)="onCancel()"
    />
  </div>
</p-dialog>
