<div class="bg-black">
    <section class="">

        <div class="container ">
    
            <div class="contact-terminal mb-5  ">
                <p class="safe3 rounded-pill border-1 border-zinc-600">
                    VERIFIED REVIEWS
    
                </p>
              <div>
                <p class="my-3 text-zinc-300 text-5xl">Trusted by 12,500+ happy users</p>
              </div>
               <div>
                <p class="text-zinc-400 text-xl">Use and re-use tons of responsive sections too a main create the perfect layout</p>
                <p class="text-zinc-400 text-xl">Sections are firmly of organised into the perfect start.</p>
               </div>
            </div>
            <div class="row">
                <!-- Testimonial 1 -->
                <div class="col-md-4 ">
                    <div class="card  mb-4  ps-3 pt-3 border-1 border-zinc-700 p-2">
                        <div class="flex ">
                            <img src="./assets/imgs/image-contact10.webp" alt="Millar Garren" class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Millar Garren</h6>
                                <p class="text-zinc-500">CEO, Imagine Agency</p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Secury's blockchain solutions have given us an impenetrable shield against cyber threats."
                        </p>
                    </div>
                </div>
    
                <!-- Testimonial 2 -->
                <div class="col-md-4">
                    <div class="card  mb-4 border-1 border-zinc-700 p-2 ps-3 pt-3  ">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact11.webp" alt="Steven Richard" class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Steven Richard</h6>
                                <p class="text-zinc-500">Creative Director, Purple Pixel Studio</p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "After a series of breaches last year, we knew we had to reinforce our cybersecurity measures.
                            Secury's real-time anomaly detection and 24/7 security operations center enabled us to achieve
                            proactive threat detection response."
    
                        </p>
                    </div>
                </div>
    
                <!-- Testimonial 3 -->
                <div class="col-md-4">
                    <div class="card text-white ps-3 pt-3 mb-4 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact12.webp" alt="Christopher Adam" class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Christopher Adam</h6>
                                <p class="text-zinc-500">CTO, DataSystems LLC</p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Secury is our go-to partner for cutting-edge blockchain security solutions. Highly
                            recommended!"
    
                        </p>
                    </div>
                </div>
    
                <!-- Add more testimonials as needed -->
                <div class="col-md-4">
                    <div class="card text-white ps-3 pt-3 mb-4 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact13.webp" alt="Benjamin Paul  " class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Benjamin Paul
    
                                </h6>
                                <p class="text-zinc-500">CTO, NetPropel
    
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Secury enabled us to reduce security breaches by 75% with their real-time anomaly detection.
                            Their team of security analysts also identified vulnerabilities we weren't aware of"
    
    
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white  ps-3 pt-3  mb-4 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact14.webp" alt="Christina Blair
    
                    " class="rounded-circle me-3" width="50" height="50">
                            <div>
                                <h6 class="mb-0">Christina Blair
    
                                </h6>
                                <p class="text-zinc-500">Co-Founder & CEO, CodeWrights
    
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Secury's AI-powered threat detection gives us 360 degree protection we can count on."
    
    
    
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white mb-4  ps-3 pt-3 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact15.webp" alt="Matthew Lee
    
                            " class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Matthew Lee
    
                                </h6>
                                <p class="text-zinc-500">CFO, Vista Media Group
    
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Thanks to Secury, we can focus on our core business instead of worrying about security."
    
    
    
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white  ps-3 pt-3   mb-4 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact16.webp" alt="Aaron Matthew
    
                            " class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Aaron Matthew
    
                                </h6>
                                <p class="text-zinc-500">CFO, NumberNerds
    
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Secury's robust encryption helps us meet the strictest industry compliance standards."
    
    
    
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white ps-3 pt-3  mb-4 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact17.webp" alt="Michael Joseph
    
                            " class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Michael Joseph
    
                                </h6>
                                <p class="text-zinc-500">CEO, Imagine Agency
    
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "Secury's blockchain solutions have given us an impenetrable shield against cyber threats."
    
    
    
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-white ps-3 pt-3 mb-4 border-1 border-zinc-700 p-2">
                        <div class="flex">
                            <img src="./assets/imgs/image-contact18.webp" alt="Gary Christopher
    
                            " class="rounded-circle me-3"
                                width="50" height="50">
                            <div>
                                <h6 class="mb-0">Gary Christopher
    
                                </h6>
                                <p class="text-zinc-500">CTO, ContractCore LLC
    
                                </p>
                            </div>
                        </div>
                        <p class="mt-3 text-zinc-200">
                            "After a series of breaches last year, we knew we had to reinforce our cybersecurity measures. Secury's real-time anomaly detection and 24/7 security operations center enabled us to achieve proactive threat detection response."
    
    
    
                        </p>
                    </div>
                </div>
            </div>
        </div>
    
    
    </section>
</div>