::ng-deep a {
  text-decoration: none;
  color: #6f7481;
  position: relative;
  display: block;
}

::ng-deep a::before {
  position: absolute;
  right: 0;
  color: #6f7481;
}

::ng-deep a:hover {
  color: #000;
}

::ng-deep a:hover::before {
  color: #fff;
}
::ng-deep .p-button {
  background: linear-gradient(267.93deg, #00223c -5.69%, #1a759f 103.34%) !important;
  color: #fff;
  border-color: black !important;
}
::ng-deep .p-button:hover {
  background: linear-gradient(267.93deg, #015da3 -5.69%, #1a759f 103.34%) !important;
}
::ng-deep .p-select {
  border-color: #0000ff21 !important;
}
::ng-deep .p-select:not(.p-disabled).p-focus, ::ng-deep .p-inputtext:enabled:focus,::ng-deep  .p-textarea:enabled:focus {
  border-color: #0000ff !important;
}
::ng-deep .p-select-option.p-select-option-selected {
  background-color: #0000ff0e !important;
  color: #0000ffc7 !important;
}
