.footer-content {
  gap: 1vw;
  display: flex;
  justify-content: space-between;
  font-size: 1.2vw;
  flex-direction: row;
  @media (max-width: 768px) {
    flex-direction: column;
    font-size: 5vw;
    text-align: start;
  }
}

.footer-links-container {
  font-size: 0.9vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  @media (max-width: 768px) {
    gap: 2vw;
    font-size: 4vw;
    text-align: start;
  }
}

.platform-section {
  @media (max-width: 768px) {
    max-width: 100%;
  }
  max-width: 25vw;
}

.platform-title {
  font-weight: bold;
  color: #424755;
  margin-bottom: 1vw;
}

.social-icons {
  padding: 2vw 0;
  flex-direction: row;
  i {
    color: #6F7481;
  }
  @media (max-width: 768px) {
    justify-content: space-around;
  }
}

.social-icons i {
  @media (max-width: 768px) {
    font-size: 9vw;
  }
  font-size: 2vw;
}