<div style="width: 100%; background-color: #F8F8F8; padding: 4vw; margin-top: auto;">
    <div class="footer-content">
        <div style="display: flex; flex-direction: column; gap: 1vw;">
            <div style="font-weight: bold; color: #424755;">{{'app.home-page.footer.security-service' | translate}}</div>
            <div class="footer-links-container">
                <a href="#">{{'app.home-page.footer.security-services' | translate}}</a>
                <a href="#">{{'app.home-page.footer.facility-security' | translate}}</a>
                <a href="#">{{'app.home-page.footer.event-security' | translate}}</a>
                <a href="#">{{'app.home-page.footer.personal-security' | translate}}</a>
                <a href="#">{{'app.home-page.footer.technical-security' | translate}}</a>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; gap: 1vw;">
            <div style="font-weight: bold; color: #424755;">{{'app.home-page.footer.our-services' | translate}}</div>
            <div class="footer-links-container">
                <a href="#">{{'app.home-page.footer.facility-security' | translate}}</a>
                <a href="#">{{'app.home-page.footer.worker-security' | translate}}</a>
                <a href="#">{{'app.home-page.footer.warehouse-security' | translate}}</a>
                <a href="#">{{'app.home-page.footer.security-management' | translate}}</a>
                <a href="#">{{'app.home-page.footer.security-services' | translate}}</a>
            </div>
        </div>

        <div style="display: flex; flex-direction: column; gap: 1vw;">
            <div style="font-weight: bold; color: #424755;">{{'app.home-page.footer.main-platform' | translate}}</div>
            <div class="footer-links-container">
                <a href="#">{{'app.home-page.footer.home' | translate}}</a>
                <a href="#">{{'app.home-page.footer.about' | translate}}</a>
                <a href="#">{{'app.home-page.footer.services' | translate}}</a>
                <a href="#">{{'app.home-page.footer.news' | translate}}</a>
                <a href="#">{{'app.home-page.footer.contact' | translate}}</a>
            </div>
        </div>

        <div class="platform-section">
            <div class="platform-title">{{'app.home-page.footer.platform-title' | translate}}</div>
            <div class="footer-links-container">
                <a href="#">{{'app.home-page.footer.home' | translate}}</a>
                <a href="#">{{'app.home-page.footer.about' | translate}}</a>
                <a href="#">{{'app.home-page.footer.services' | translate}}</a>
                <a href="#">{{'app.home-page.footer.news' | translate}}</a>
                <a href="#">{{'app.home-page.footer.contact' | translate}}</a>
            </div>
            <div class="footer-links-container social-icons">
                <a href="#"><i class="pi pi-twitter"></i></a>
                <a href="#"><i class="pi pi-facebook"></i></a>
                <a href="#"><i class="pi pi-instagram"></i></a>
                <a href="#"><i class="pi pi-linkedin"></i></a>
            </div>
        </div>
    </div>
</div>