
<p-menubar [model]="menuItems">
  <ng-template pTemplate="start">
    <span class="spacer"></span>
  </ng-template>
</p-menubar>

  <button mat-button routerLink="/company-price-request">
    company-price-request
  </button>
  <button mat-button routerLink="/company-price-offer">
    company-price-offer
  </button>
  <button mat-button routerLink="/facility-price-request">
    facility-price-request
  </button>
  <button mat-button routerLink="/facility-price-offer">
    facility-price-offer
  </button>
  <button mat-button routerLink="/security-certificate">
    security-certificate
  </button>
  <button mat-button routerLink="/get-all-hewar-services">
    Hewar Services
  </button>
  <button mat-button routerLink="/companyservices">Company Services</button>
</mat-toolbar>
