<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-button routerLink="/guards">Guards</button>


  <button mat-button routerLink="/companies">companies</button>
  <button mat-button routerLink="/companies/price-request">companies/price-request</button>
  <button mat-button routerLink="facilities/price-request">facilities/price-request</button>
  <button mat-button routerLink="/create-price-request/18">create-price-request</button>
  <button mat-button routerLink="/update-price-request/42">update-price-request</button>
  <button mat-button routerLink="/create-price-offer/18">create-price-offer</button>
  <button mat-button routerLink="/update-price-offer/42">create-price-offer</button>
</mat-toolbar>
