<mat-toolbar color="primary">
  <span class="spacer"></span>
  <button mat-button routerLink="/facilities">facilities</button>
  <button mat-button routerLink="/companies">companies</button>

  <button mat-button routerLink="/company-price-request">company-price-request</button>
  <button mat-button routerLink="/company-price-offer">company-price-offer</button>
  <button mat-button routerLink="/facility-price-request">facility-price-request</button>
  <button mat-button routerLink="/facility-price-offer">facility-price-offer</button>
</mat-toolbar>
