<nav class="navbar navbar-expand-lg  fixed-top ">
    <div class="container">
      <a class="navbar-brand" routerLink="Home">
        <img src="./assets/imgs/image-contact1.webp" class="w-50"  alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav me-auto lg:w-auto">
          <li class="nav-item">
            <a class="nav-link "  routerLinkActive="active-link " routerLink="company">{{"navbar.company" | translate}}   </a>
          </li>
          <li class="nav-item">
            <a class="nav-link "   routerLinkActive="active-link " routerLink="contact"> {{"navbar.contact" | translate}}   </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{"navbar.allPages" | translate}}            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="home" routerLinkActive="active-link"> {{"navbar.home" | translate}}</a></li>
              <li><a class="dropdown-item" routerLink="about" routerLinkActive="active-link"> {{"navbar.about" | translate}}</a></li>
              <li><a class="dropdown-item" routerLink="services" routerLinkActive="active-link"> {{"navbar.services" | translate}}</a></li>
              <li><a class="dropdown-item" routerLink="team" routerLinkActive="active-link"> {{"navbar.team" | translate}}</a></li>
              <li><a class="dropdown-item" routerLink="price" routerLinkActive="active-link"> {{"navbar.price" | translate}}</a></li>
              <li><a class="dropdown-item" routerLink="FacilityDetailes" routerLinkActive="active-link"> {{"navbar.FacilityDetailes" | translate}}</a></li>


            </ul>
          </li>
          
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{"navbar.lang" | translate}}
            </a>
            <ul class="dropdown-menu">
              <li  (click)="change('en')"     ><a class="  cursor-pointer    dropdown-item">EN</a></li>
              <li   (click)="change('ar')"      ><a class="  cursor-pointer  dropdown-item">AR</a></li>

            
            </ul>
      
        </ul>
        <ul class="navbar-nav ms-auto ">
      
        <div class="circle rounded-pill">
          <div class="text">
            {{"navbar.get"| translate}}   <i class="fa-solid fa-arrow-right"></i>
          </div>
        </div>
         
             
             
           
              <!-- <li class="nav-item">
                <a class="nav-link cursor-pointer "      (click)="_AuthService.logOut()" >
                    {{"navbar.signout"| translate}}
                </a>
              </li> -->
         
          </ul>
      </div>
      <a routerLink="/login">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 mx-2   rounded">
          {{"navbar.login"| translate}} </button>
      </a>
      <a routerLink="/createAccount">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
          {{"navbar.register"| translate}}
        </button>
      </a>

    </div>
  </nav>