<div class="bg-black pt-40">
    <section FadeInView class="main border border-zinc-700 py-3">
        <div  class="container mx-auto ">
            <div class="flex justify-center items-center py-5">
                <div class="mr-5">
                    <p class="text-zinc-400 text-2xl">Backed By</p>
                </div>

                <div  class=" w-full sm:w-[80%] md:w-[70%] lg:w-[90%] ">
                    <div class="item">
                        <owl-carousel-o [options]="customOptionsMain">
                            <ng-template carouselSlide>
                                <img src="./assets/imgs/image-contact02.svg" class=" px-10" alt="Image 1">
                            </ng-template>
                            <ng-template carouselSlide>
                                <img src="./assets/imgs/image-contact03.svg" class=" px-10" alt="Image 2">
                            </ng-template>
                            <ng-template carouselSlide>
                                <img src="./assets/imgs/image-contact04.svg" class=" px-10" alt="Image 3">
                            </ng-template>
                            <ng-template carouselSlide>
                                <img src="./assets/imgs/image-contact05.svg" class=" px-10" alt="Image 4">
                            </ng-template>
                            <ng-template carouselSlide>
                                <img src="./assets/imgs/image-contact06.svg" class=" px-10" alt="Image 5">
                            </ng-template>
                            <ng-template carouselSlide>
                                <img src="./assets/imgs/image-contact07.svg" class=" px-10" alt="Image 6">
                            </ng-template>
                        </owl-carousel-o>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
