::ng-deep {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-bottom: 0.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: #444;
    margin-top: 1.5rem;
  }

  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin: 0;
  }

  .text-base {
    font-size: 1rem;
    font-weight: 400;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    overflow: hidden;
  }

  .logo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
  }
  .input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  .service-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 0.5rem;
    background: #f9f9f9;
    margin: 1rem 0;
    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
  .input-row {
    display: flex;
    width: 100%;
    gap: 0.5rem;
    justify-content: space-evenly;
    flex-direction: column;

    .p-inputtext,
    .p-select,
    .p-inputNumber {
      width: 100%;
    }
    @media (max-width: 768px) {
      flex-direction: column;
    }
    div {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      gap: 5px;
      .p-inputtext,
      .p-select,
      p-inputNumber {
        width: 100% !important;
      }
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }
  }
  textarea {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
  }
  .button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    gap: 20px;
    @media (max-width: 768px) {
      flex-direction: column;
      gap: 1rem;
    }
  }
  .p-datepicker,
  .p-dropdown {
    width: 100%;
  }
  .p-inputtext {
    min-width: 120px;
  }
}
