<div class="container">
  <section class="companies" id="companies-section">
    <div class="header d-flex">
      <div class="add-company">
        <a routerLink="createCompany">{{"app.companies.companies-list.add-comp" | translate}}</a>
      </div>
      <div class="search">
        <form class="form-facility">
          <i class="pi pi-search"></i>
          <input type="text" placeholder="{{ 'app.companies.companies-list.search-here' | translate }}" [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}"  />
          <button type="submit"> {{ "app.companies.companies-list.search" | translate }} </button>
        </form>
      </div>
    </div>
    @for (company of filteredCards()?.slice(first, first + rows); track $index) {
    <div class="card" >
      <div class="grid">
        <div class="col-12 md:col-6 lg:col-3" [routerLink]="'companyDetails/'+ company.id">
          <div class="card-image">
            <img [src]="company.logo" alt="" />
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-7" [routerLink]="'companyDetails/'+ company.id">
          <div class="card-text">
            <h2>{{ company.name }}</h2>
            <p class="type">{{ company.contactEmail }}</p>
            <p class="location">
              <img class="mx-2" src="images/location-icon.svg" alt="" />
              <span>{{ "app.companies.companies-list.location" | translate }}:</span> {{ company.address.country }} ,{{ company.address.city }}
            </p>
          </div>
        </div>
        <div class="col-12 md:col-6 lg:col-2">
          <div class="card-actions">
            <i class="pi pi-share-alt"></i>
            <button [routerLink]="'/companies/updateCompany/' + company.id" class="edit">{{'app.companies.companies-list.actions.edit' | translate}}</button>
            <button [routerLink]="'/create-price-request/' + company.id" class="details">{{'app.companies.companies-list.actions.request-quote' | translate}}</button>
            <button class="delete" role="button" (click)="openDeletePopup(company)"> {{'app.companies.companies-list.actions.delete' | translate}} </button>
            <div class="card delete-container flex justify-center" *ngIf="showDeletePopup">
              @if (currentCompany.name) {
                <app-delete-popup [visible]="showDeletePopup" [itemName]="currentCompany.name" (confirmDelete)="deleteFacility()" (closePopup)="showDeletePopup = false"> </app-delete-popup>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    }
  </section>
  @if (totalRecords! > 9 ) {
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[10, 20]" />
  }
</div>
