
<div class=" bg-black py-52 ">
    <div  class="container mx-auto w-10/12 grid gap-5 sm:grid-cols-1 md:grid-cols-2 md:gap-72 mt-20 ">

        <div class="bg-[url('./assets/imgs/bg_nets.svg')] bg-no-repeat bg-cover backdrop-blur-3xl flex justify-center items-center ">
            <img class="w-8/12 sm:w-6/12 lg:w-7/12 h-auto object-cover ml-20" src="./assets/imgs/image-contact08.webp"
             loading="lazy" decoding="async">
            <div class="absolute inset-0 grid place-items-center "> 
              <canvas class="absolute inset-0 w-full h-full overflow-hidden -z-10 serviceSporeCanvas" width="2000" height="2000"></canvas> 
              <div FadeInView class="flex items-center justify-center rotate-[55deg] w-full h-full -z-20 bg-gradient-image"> 
                <div class="w-2/3 aspect-square bg-secondary blur-[120px] rounded-full translate-x-10 bg-gradient-to-r from-orange-800 via-red-500 to-blue-700"></div> 
                <div class="w-2/3 aspect-square bg-tertiary blur-[120px] rounded-full -translate-x-10 bg-gradient-to-r from-orange-800 via-blue-500 to-blue-700"></div> 
              </div> 
            </div>
        </div>

        <div FadeInView class="">
          <button class="animate__animated animate__fadeInUp animate__faster px-4 rounded-full border border-zinc-600 mb-10 bg-gradient-to-r from-orange-800 via-red-400 to-blue-800 text-transparent bg-clip-text"> SAFE & SECURE </button>
          <p class="animate__animated animate__fadeInUp animate__faster text-5xl text-zinc-300">The Next Generation of </p>
          <p class="animate__animated animate__fadeInUp animate__faster text-1xl pt-4 pb-5 text-zinc-400">Secury leverages powerful encryption and blockchain technology to provide industry-leading protection for your sensitive data.</p>
          <div class="flex gap-15 mt-7">
            <span>
                <p class="text-1xl text-white">Military-grade encryption</p>
                <p class=" animate__animated animate__fadeInUp animate__faster  text-zinc-400 mt-7">Use and re-use responsive sections to create the perfect layout.</p>
            </span>
            <span>
                <p class="text-1xl text-white">Decentralized network</p>
                <p class=" animate__animated animate__fadeInUp animate__faster  text-zinc-400 mt-7">Use and re-use responsive sections to create the perfect layout.</p>
            </span>
          </div>
        </div>
        

      </div>
</div>