main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 87vh;
  background: #f2fbff;
}
p-card {
  width: 400px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
