/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';



    // padding-top: 80px; /* حجم الـ navbar (يمكنك تعديله حسب الحجم الفعلي للـ navbar) */
    body{
      background-color: var(--main-color) !important ;
      padding-top: 80px;
  }

  
 
  //////////////////////////////////////////////////////////////////////
  /* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

// @import 'ngx-toastr/toastr';



:root {
  --main-color: #000000;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}

// .container {
//   max-width: 1200px;  /* تغيير الحد الأقصى للعرض */
//   width: 100%;        /* جعله يعرض 100% من عرض الشاشة */
// }

///////////////////////////////////
/// 
@tailwind base;
@tailwind components;
@tailwind utilities;

@import "aos/dist/aos.css";
html {
    scroll-behavior: smooth;
  }
  
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
 
  //////////////////////////////////////////////////////////////////////
  /* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");

// @import 'ngx-toastr/toastr';



:root {
  --main-color: #000000;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}


@import "aos/dist/aos.css";
html {
    scroll-behavior: smooth;
  }