/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import 'primeflex/primeflex.scss';

body {
  margin: 0px;
}

* {
  font-family: 'Alexandria', Roboto, "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: 'Alexandria';
  src: url('/fonts/Alexandria-VariableFont_wght.ttf');
}

@font-face {
  font-family: 'tajawal-bold';
  src: url('/fonts/Tajawal-Bold.ttf');
}

@font-face {
  font-family: 'tajawal-medium';
  src: url('/fonts/Tajawal-Medium.ttf');
}

@font-face {
  font-family: 'tajawal-regular';
  src: url('/fonts/Tajawal-Regular.ttf');
}


html, body { height: 100%; }

// container
/* Basic container class */
.container {
  width: 100%;
  max-width: 1525px; /* Adjust to your desired max-width */
  margin: 0 auto; /* Centers the container */
  padding: 0 15px; /* Adds some padding on the sides */
}

/* Responsive behavior */
@media (max-width: 1200px) {
  .container {
    max-width: 1080px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 840px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 660px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 100%; /* For very small screens, fill the screen */
  }
}



html[dir="ltr"] {
  .search {
    .pi-search {
      right: 355px !important;
    }
  }
  .filter ul {
    padding: 13px 0;
    li {
      font-size: 15px;
      margin-left: 0 !important;
      margin-right: 20px !important;
      &:not(.classification)::after {
        content: "";
        width: 3px;
        height: 100%;
        background-color: #fff;
        position: absolute;
        left: -16px;
        top: 0;
        border-radius: 15px;
      }
      &.classification::after {
        display: none;
      }
    }
  }
  @media (min-width: 768px) {
//     .card-text {
//       transform: translateX(-130px);
//       -webkit-transform: translateX(-130px);
//       -moz-transform: translateX(-130px);
//       -ms-transform: translateX(-130px);
//       -o-transform: translateX(-130px);
// }
  }
}
