<div class=" bg-black mt-5">

    <p class="text-4xl sm:text-5xl md:text-6xl lg:text-4xl text-white leading-tight text-center mb-10">Security That Goes the Extra Mile</p>
    <div class="flex justify-evenly flex-wrap pb-28  text-white   container  mx-auto px-4  md:w-11/12 lg:w-11/12">
        <div class="rotating-border group aos-init aos-animate my-5 max-w-72 animate__animated animate__bounceInUp animate__delay-0.9s" data-aos="fade-up-sm" data-aos-delay="0"> 
            <div class="h-full p-8 rounded-2xl border border-border bg-theme-light relative overflow-hidden isolate"> 
                <div class="absolute inset-0 translate-x-1/3 translate-y-1/3 -z-10"> 
                    <div class="flex items-center justify-center rotate-45 w-full h-full"> 
                        <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-secondary/60 blur-[50px] rounded-full -translate-x-24 group-hover:translate-x-0 transition-all duration-500"></div> 
                        <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-tertiary/60 blur-[50px] rounded-full -translate-x-16 group-hover:translate-x-0 transition-all duration-500"></div> 
                    </div> 
                </div> 
                <div class="flex flex-col items-start justify-between h-full"> 
                    <svg width="36" height="36" viewBox="0 0 36 36" class="text-primary/50 group-hover:text-white transition-all duration-500 mb-10" data-icon="secure_guard">  
                        <symbol id="ai:local:secure_guard">
                            <g fill="none">
                                <g fill="currentColor" clip-path="url(#a)">
                                    <path d="m17.922 36.014-.531-.236C16.8 35.518 3 29.286 3 18V8.214a4.475 4.475 0 0 1 3.077-4.248L18 .014l11.924 3.952A4.47 4.47 0 0 1 33 8.214V18c0 12.866-13.932 17.633-14.526 17.83zM18 3.159 7.026 6.8A1.49 1.49 0 0 0 6 8.213V18c0 8.241 9.66 13.587 12.07 14.792C20.477 31.824 30 27.395 30 18V8.214a1.49 1.49 0 0 0-1.026-1.416L18 3.16z"></path><path d="M16.667 21.813h-.05a2.8 2.8 0 0 1-2.017-.9l-3.46-3.6 2.162-2.073 3.366 3.51 7.772-7.771 2.12 2.12-7.89 7.892a2.8 2.8 0 0 1-2.003.822">
                                    </path>
                                </g>
                                <defs>
                                    <clipPath id="a">
                                        <path fill="#fff" d="M0 0h36v36H0z">
                                        </path>
                                    </clipPath>
                                </defs>
                            </g>
                        </symbol>
                        <use xlink:href="#ai:local:secure_guard"></use>  
                    </svg> <div class=""> 
                        <h3 class="text-h5 lg:text-h6 font-medium">Military-grade encryption,</h3> 
                        <p class="text-text/90 mt-2 overflow-hidden transition-all duration-500"> 24/7 security operations center to identify risks . </p> 
                    </div> 
                </div> 
            </div> 
        </div>
    
        <div class="rotating-border group aos-init aos-animate my-5 max-w-72 animate__animated animate__bounceInUp animate__delay-0.8s" data-aos="fade-up-sm" data-aos-delay="100"> 
            <div class="h-full p-8 rounded-2xl border border-border bg-theme-light relative overflow-hidden isolate"> 
                <div class="absolute inset-0 translate-x-1/3 translate-y-1/3 -z-10"> 
                    <div class="flex items-center justify-center rotate-45 w-full h-full"> 
                        <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-secondary/60 blur-[50px] rounded-full -translate-x-24 group-hover:translate-x-0 transition-all duration-500"></div> 
                        <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-tertiary/60 blur-[50px] rounded-full -translate-x-16 group-hover:translate-x-0 transition-all duration-500"></div> 
                    </div> 
                </div> 
                <div class="flex flex-col items-start justify-between h-full"> 
                    <svg width="36" height="36" viewBox="0 0 36 36" class="text-primary/50 group-hover:text-white transition-all duration-500 mb-10" data-icon="branches">  
                        <symbol id="ai:local:branches">
                            <g fill="none">
                                <g clip-path="url(#a)">
                                    <path fill="currentColor" d="M36 6c0-3.309-2.691-6-6-6s-6 2.691-6 6a6.01 6.01 0 0 0 4.5 5.81V12c0 2.481-2.019 4.5-4.5 4.5h-1.5c-1.79 0-3.4.788-4.5 2.035a6 6 0 0 0-4.5-2.035H12A4.505 4.505 0 0 1 7.5 12v-.19A6.01 6.01 0 0 0 12 6c0-3.309-2.691-6-6-6S0 2.691 0 6a6.01 6.01 0 0 0 4.5 5.81V12c0 4.136 3.364 7.5 7.5 7.5h1.5c1.655 0 3 1.346 3 3v1.69A6.01 6.01 0 0 0 12 30c0 3.309 2.691 6 6 6s6-2.691 6-6a6.01 6.01 0 0 0-4.5-5.81V22.5c0-1.654 1.346-3 3-3H24c4.136 0 7.5-3.364 7.5-7.5v-.19A6.01 6.01 0 0 0 36 6M3 6c0-1.654 1.346-3 3-3s3 1.346 3 3-1.346 3-3 3-3-1.346-3-3m18 24c0 1.654-1.346 3-3 3s-3-1.346-3-3 1.346-3 3-3 3 1.346 3 3m9-21c-1.654 0-3-1.346-3-3s1.346-3 3-3 3 1.346 3 3-1.346 3-3 3">
                                    </path>
                                </g>
                                <defs>
                                    <clipPath id="a">
                                        <path fill="#fff" d="M0 0h36v36H0z"></path>
                                    </clipPath>
                                </defs>
                            </g>
                        </symbol>
                        <use xlink:href="#ai:local:branches"></use>  
                    </svg> 
                    <div class=""> 
                        <h3 class="text-h5 lg:text-h6 font-medium">Decentralized network,</h3> 
                        <p class="text-text/90 mt-2 overflow-hidden transition-all duration-500"> 24/7 security operations center to identify risks. </p> 
                    </div> 
                </div> 
            </div> 
        </div>

        <div class="rotating-border group aos-init aos-animate my-5 max-w-72 animate__animated animate__bounceInUp animate__delay-0.6s" data-aos="fade-up-sm" data-aos-delay="200"> 
            <div class="h-full p-8 rounded-2xl border border-border bg-theme-light relative overflow-hidden isolate"> 
                <div class="absolute inset-0 translate-x-1/3 translate-y-1/3 -z-10"> 
                    <div class="flex items-center justify-center rotate-45 w-full h-full"> 
                        <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-secondary/60 blur-[50px] rounded-full -translate-x-24 group-hover:translate-x-0 transition-all duration-500"></div> 
                        <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-tertiary/60 blur-[50px] rounded-full -translate-x-16 group-hover:translate-x-0 transition-all duration-500"></div> 
                    </div> 
                </div> 
                <div class="flex flex-col items-start justify-between h-full"> 
                    <svg width="36" height="36" viewBox="0 0 36 36" class="text-primary/50 group-hover:text-white transition-all duration-500 mb-10" data-icon="privacy">  
                        <symbol id="ai:local:privacy">
                            <g fill="none">
                                <g clip-path="url(#a)">
                                    <path fill="currentColor" d="M12 0C7.037 0 3 4.037 3 9s4.037 9 9 9 9-4.037 9-9-4.037-9-9-9m0 15c-3.309 0-6-2.691-6-6s2.691-6 6-6 6 2.691 6 6-2.691 6-6 6m-4.5 6h9v3h-9A4.505 4.505 0 0 0 3 28.5V36H0v-7.5C0 24.364 3.365 21 7.5 21m25.929-3.599L27.75 15.52l-5.679 1.882a3.745 3.745 0 0 0-2.571 3.56V26.1c0 5.353 5.571 8.554 7.28 9.408l.905.453.941-.378c1.73-.696 7.375-3.438 7.375-9.483v-5.139c0-1.62-1.032-3.05-2.57-3.56zM33 26.1c0 3.873-3.636 5.887-5.183 6.569-1.373-.737-5.317-3.149-5.317-6.569v-5.139a.75.75 0 0 1 .515-.712l4.735-1.57 4.736 1.57a.75.75 0 0 1 .514.712z">
                                    </path>
                                </g>
                                <defs>
                                    <clipPath id="a">
                                        <path fill="#fff" d="M0 0h36v36H0z"></path>
                                    </clipPath>
                                </defs>
                            </g>
                        </symbol>
                        <use xlink:href="#ai:local:privacy"></use>  
                    </svg> 
                    <div class=""> 
                        <h3 class="text-h5 lg:text-h6 font-medium">Bulletproof cybersecurity,</h3> 
                        <p class="text-text/90 mt-2 overflow-hidden transition-all duration-500"> 24/7 security operations center to identify risks. </p> 
                    </div> 
                </div> 
            </div> 
        </div>

        <div class="rotating-border group aos-init aos-animate my-5 max-w-72 animate__animated animate__bounceInUp animate__delay-0.4s" data-aos="fade-up-sm" data-aos-delay="200"> 
            <div class="h-full p-8 rounded-2xl border border-border bg-theme-light relative overflow-hidden isolate"> 
                <div class="absolute inset-0 translate-x-1/3 translate-y-1/3 -z-10"> 
                <div class="flex items-center justify-center rotate-45 w-full h-full"> 
                    <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-secondary/60 blur-[50px] rounded-full -translate-x-24 group-hover:translate-x-0 transition-all duration-500"></div> 
                    <div class="w-2/6 h-5/6 bg-transparent group-hover:bg-tertiary/60 blur-[50px] rounded-full -translate-x-16 group-hover:translate-x-0 transition-all duration-500"></div> 
                </div> 
            </div> 
            <div class="flex flex-col items-start justify-between h-full"> 
                <svg width="36" height="36" viewBox="0 0 36 36" class="text-primary/50 group-hover:text-white transition-all duration-500 mb-10" data-icon="history">  
                    <symbol id="ai:local:history">
                        <g fill="none">
                            <g fill="currentColor" clip-path="url(#a)">
                                <path d="M25.5 27a4.5 4.5 0 1 0-9 0h3a1.5 1.5 0 1 1 3 0c0 .75-1.275 1.707-2.4 2.55-1.688 1.266-3.6 2.7-3.6 4.95V36h9v-3h-4.935c.406-.354.883-.711 1.335-1.05 1.688-1.266 3.6-2.7 3.6-4.95m7.5 1.5h-3v-6h-3v6a3 3 0 0 0 3 3h3V36h3V22.5h-3zM19.5 9h-3v7.5h-6v3h9z"></path><path d="M33 3v5.061a17.992 17.992 0 1 0-19.5 27.346V32.31A15 15 0 1 1 30.954 10.5H25.5v3H33a3 3 0 0 0 3-3V3z">
                                </path>
                            </g>
                            <defs>
                                <clipPath id="a">
                                    <path fill="#fff" d="M0 0h36v36H0z"></path>
                                </clipPath>
                            </defs>
                        </g>
                    </symbol>
                    <use xlink:href="#ai:local:history"></use>  
                </svg> 
                <div class=""> 
                    <h3 class="text-h5 lg:text-h6 font-medium">Real-time threat monitoring,</h3> 
                    <p class="text-text/90 mt-2 overflow-hidden transition-all duration-500"> 24/7 security operations center to identify risks. </p> 
                </div> 
            </div> 
        </div>
        </div>
    </div>

</div>