<form class="container" [formGroup]="createPriceRequestForm">
  <div class="header">
    <img class="logo" [src]="companyData.logo" alt="Security Logo"/>
    @if (companyData.id) {
    <div>
      <h2>{{ companyData.name }}</h2>
      <p>{{ companyData.contactEmail }}</p>
    </div>
    }
  </div>

  <div class="content">
    <!-- Price Request Section -->
    <h2>{{ 'app.price-request.edit-price-request.header' | translate }}</h2>
    <div class="grid">
      <div class="input-group col-12 md:col-4">
        <label for="startDate">{{ 'app.price-request.edit-price-request.contractDate' | translate }}</label>
        <p-datepicker formControlName="startDate" [placeholder]="'app.price-request.edit-price-request.startContract' | translate" showIcon iconDisplay="input" [minDate]="date" [maxDate]="createPriceRequestForm.get('endDate')?.value"></p-datepicker>
      </div>
      <div class="input-group col-12 md:col-4">
        <label for="endDate">{{ 'app.price-request.edit-price-request.endContract' | translate }}</label>
        <p-datepicker formControlName="endDate" [placeholder]="'app.price-request.edit-price-request.endContract' | translate" showIcon iconDisplay="input" [minDate]="createPriceRequestForm.get('startDate')?.value || date" [disabled]="!createPriceRequestForm.get('startDate')?.value"></p-datepicker>
      </div>
      <div class="input-group col-12 md:col-4">
        <label for="contractType">{{ 'app.price-request.edit-price-request.contractType' | translate }}</label>
        <app-input placeholder="price-request.edit-price-request.chooseContractType" [formGroup]="createPriceRequestForm" [options]="contractTypes" errorKey="price-request.edit-price-request.invaliContractType" controlName="contractType" icon="pi-map" type="dropdown"></app-input>
      </div>
    </div>

    <!-- Service Details Section -->
    <h2>{{ 'app.price-request.edit-price-request.services' | translate }}</h2>
    <div formArrayName="services">
      @for (service of services.controls; track service; let i = $index) {
      <div [formGroupName]="i" class="service-item">
        <div class="input-row">
          <p-button icon="pi pi-trash" (click)="removeService(i)" [disabled]="i === 0 && createPriceRequestForm.value.services.length <= 1"></p-button>
          <p-select [options]="companyServices" formControlName="serviceId" [placeholder]="'app.price-request.edit-price-request.chooseService' | translate" optionLabel="name" optionValue="id"></p-select>
          <p-select [options]="shiftType" formControlName="shiftType" [placeholder]="'app.price-request.edit-price-request.shiftType' | translate" optionLabel="name" optionValue="code"></p-select>
          <p-inputNumber fluid="true" [showButtons]="true" [min]="0" formControlName="quantity" [placeholder]="'app.price-request.edit-price-request.quantity' | translate" ></p-inputNumber>
        </div>
        @if (i === createPriceRequestForm.value.services.length - 1) {
          <p-button icon="pi pi-plus" (click)="addService()"></p-button>
        }
      </div>
      }
    </div>

    <!-- Other Services Section -->
    <h2>{{ 'app.price-request.edit-price-request.otherDetails' | translate }}</h2>
    <div formArrayName="otherServices">
      @for (service of otherServices.controls; track service; let i = $index) {
        <div [formGroupName]="i" class="service-item">
            <div class="input-row">
            <p-button icon="pi pi-trash" (click)="removeOtherService(i)"></p-button>
            <input pInputText formControlName="name" [placeholder]="'app.price-request.edit-price-request.serviceName' | translate"/>
            <p-select [options]="shiftType" formControlName="shiftType" [placeholder]="'app.price-request.edit-price-request.shiftType' | translate" optionLabel="name" optionValue="code"></p-select>
            <p-inputNumber fluid="true" [showButtons]="true" formControlName="quantity" [min]="1" [placeholder]="'app.price-request.edit-price-request.quantity' | translate"></p-inputNumber>
          </div>
        </div>
      }
      <div class="plus">
        <p-button icon="pi pi-plus" (click)="addOtherService()"></p-button>
      </div>
    </div>

    <!-- Notes Section -->
    <h2>{{ 'app.price-request.edit-price-request.addNotes' | translate }}</h2>
    <textarea pTextarea formControlName="notes" class="w-full" rows="5" [placeholder]="'app.price-request.edit-price-request.enterDetails' | translate" [autoResize]="true" ></textarea>

    <!-- Buttons -->
    <div class="button-group">
      <p-button [label]="'app.price-request.edit-price-request.cancel' | translate" (click)="onCancel()" fluid="true" ></p-button>
      <p-button [label]="mode === 'create' ? ('app.price-request.edit-price-request.create' | translate) : ('app.price-request.edit-price-request.update' | translate)" (click)="onSubmit()" fluid="true" [disabled]="createPriceRequestForm.invalid" [loading]="loading"></p-button>
    </div>
  </div>
</form>
