.allAds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
  }
  
  p-card {
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  
    &:hover {
      transform: scale(1.05);
    }
  
    .title {
      font-weight: bold !important;
      text-align: center   !important;
      color: #555 !important;
      margin-bottom: 10px;
    }
  
    .contractType {
      font-size: 1.2rem;
      font-weight: bold;
      text-align: center;
      color: #555;
      margin-bottom: 10px;
    }
  
    .description {
      font-size: 1rem;
      color: #333;
      line-height: 1.5;
      margin-bottom: 10px;
    }
    .date{
       
    }
  
    p {
      font-size: 1rem;
      color: #555;
    }
  
    ul {
      list-style: none;
      padding: 0;
      margin-top: 10px;
  
      li {
        display: flex;
        justify-content: space-between;
        background: #f8f9fa;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 5px;
  
        p {
          margin: 0;
          font-size: 1rem;
        }
  
        .serviceId {
          font-weight: bold;
          color: #1a759f;
        }
  
        .quantity {
          font-weight: bold;
          color: #ff5722;
        }
  
        .shiftType {
          font-weight: bold;
          color: #4caf50;
        }
      }
    }
  
    .flex {
      display: flex;
      justify-content: space-between;
      margin-top: 15px;
    }
  
    ::ng-deep .p-button {
      border-radius: 5px;
      font-weight: bold;
      text-transform: uppercase;
    }
  
    ::ng-deep .p-button-danger {
      background: linear-gradient(90deg, #d32f2f, #b71c1c) ;
      color: white;
      border: none;
    }
  
    ::ng-deep .p-button-success {
      background: linear-gradient(90deg, #388e3c, #2e7d32);
      color: white;
      border: none;
    }
  
    ::ng-deep .p-button-primary {
      background: linear-gradient(90deg, #1e88e5, #1976d2);
      color: white;
      border: none;
    }
  }
  